<div class="frame">
  <header class="">
    <div class="step pull-left">
        {{ counter }}
    </div>
    <div class="title pull-left">Récapitulatif avant paiement</div>
    <br class="clear">
  </header>
</div>
