<div class="frame">
  <header class="">
    <div class="step pull-left">
        {{ counter }}
    </div>
    {% if registrable.free %}
    <div class="title pull-left">Tournoi gratuit, pas de paiement</div>
    {% else %}
    <div class="title pull-left">Récapitulatif avant paiement</div>
    {% endif %}
    <br class="clear">
  </header>
</div>
