<div class="frame">
  <header>
    <div class="step pull-left">
        {{ counter }}
    </div>
    <div class="title pull-left">Choix de l'équipe {{ player.team.name }}</div>
    <br style="clear:both;">
  </header>
</div>
