<div class="frame">
  <header>
    <div class="step pull-left">
      1
    </div>
    <div class="title pull-left">
      Invocateur sélectionné : {{ player.gameName }}
    </div>
    <div class="pull-right" style="height:60px">
      <img height="60" src="http://ddragon.leagueoflegends.com/cdn/4.17.1/img/profileicon/{{ player.gameAvatar }}.png">
    </div>
    <br class="clear">
  </header>
</div>