    <div class="frame frame-active">
      <header class="full">
        <div class="step pull-left">
          4
        </div>
        <div class="title pull-left">Rejoindre une équipe existante</div>
        <br class="clear">
      </header>
        
    </div>
