<div class="frame frame-active">
  <header class="full">
    <div class="step pull-left">
      3
    </div>
    <div class="title pull-left">Créer ou rejoindre une équipe</div>
    <br class="clear">
  </header>
  <div class="text">
    <p>
    Si vous souhaitez créer une nouvelle équipe pour ce tournoi, cliquez sur créer.
    </p>
    <p>
    Si un de vos coéquipiers a déjà créé une équipe pour ce tournoi, cliquez sur rejoindre.
    </p>
  </div>
  
  <a class="btn btn-danger ctrl grid-2 pull-left" href="{{ path('insalan_tournament_user_setplayer', {tournament: tournament.id}) }}">Annuler</a>
  <a class="btn btn-primary ctrl grid-4 pull-left" href="{{ path('insalan_tournament_user_createteam', {id: tournament.id}) }}">Créer</a>
  <a class="btn btn-primary ctrl grid-4 pull-left" href="{{ path('insalan_tournament_user_existingteam', {id: tournament.id}) }}">Rejoindre</a>
  <br class="clear">
</div>
