    <div class="frame">
      <header>
        <div class="step pull-left">
          2
        </div>
        <div class="title pull-left">Invocateur validé</div>
        <br style="clear:both;">
      </header>
    </div>
