<div class="frame frame-active">
    <header class="full">
        <div class="step pull-left">
            {{ counter }}
        </div>
        <div class="title pull-left">Paiement en attente</div>
        <br class="clear">
    </header>
    <div class="text">

        <strong>Paiement par chèque</strong><br>
        Vous devez envoyer un chèque de {{ tournament.webPrice }}€ à l'ordre de <strong>"AEIR InsaLan"</strong> par la poste à l'adresse suivante : 
        <br>
        Vincent Giraud<br>
        DB104 INSA Rennes<br>
        20 avenue des Buttes de Coësmes<br>
        35708 Rennes CEDEX 7<br>
        <br>
        Votre inscription sera validé par le staff à la réception du chèque.

        <strong>Paiement sur place</strong><br>
        Le tarif joueur sur place s'élève à 30€.<br/>
        Vous pourrez régler sur place en liquide, par chèque ou par carte bancaire (avec une majoration de 1€ pour la CB).<br>
        <br/></br>

        <strong>Points importants</strong><br/>
        <ul>
            <li>Si vous jouez en équipe (CS:GO, Dota, LoL), <strong>votre équipe ne sera validée qu'après le paiement (en ligne ou par chèque) d'au moins 3 des membres</strong>.</li>
            <li>Si vous jouez seul (SC2, HS), votre inscription sera validée dès que vous aurez payé.</li>
            <li>Si vous choisissez l'envoi par chèque, <strong>nous ne pouvons pas vous assurer qu'il restera des places lors de a réception de ce dernier</strong>, sauf si 3 de vos coéquipiers ont déjà payé en ligne (cf ci-dessus).</li>
            <li>Si vous payez sur place, 3 membres de votre équipe doivent avoir payé en ligne ou par chèque (cf. point 1).</li>
        </ul>
        </br>
    </div>
    <a class="btn btn-primary ctrl grid-10 pull-left" href="{{ path('insalan_tournament_user_index') }}">Ok</a>
    <br class="clear">
</div>

