{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<article>
  <aside>
    <div class="square">
      <a href="#body"><span></span></a>
    </div>
  </aside>

  <header>
    <h2>Mon équipe</h2>
  </header>
</article>

<article>
  <aside>
    <div class="square">
      <a href="#body"><span></span></a>
    </div>
  </aside>

  <header>
    <h2>Mes prochains matchs</h2>
  </header>

  <p>
    Les matchs seront affichés le 25 octobre à 00h00.
  </p>
</article>

{% endblock fos_user_content %}
