{% extends 'InsaLanTournamentBundle:User:layout.html.twig' %}

{% block body %}
{{ parent() }}

<article>
  <aside>
    <div class="square">
      <a href="#body"><span></span></a>
    </div>
  </aside>

  <header>
    <h2>Inscription à &laquo; {{ tournament.name }} &raquo;</h2>
    {{ tournament.description }}
  </header>

  <section>

    {% if tournament.type == 'lol' %}
      {% include 'InsaLanTournamentBundle:Part:Step1LolValidated.html.twig' %}
      {% include 'InsaLanTournamentBundle:Part:Step2LolValidated.html.twig' %}
    {% else %}
      {% include 'InsaLanTournamentBundle:Part:Step1ManualValidated.html.twig' %}
      {% include 'InsaLanTournamentBundle:Part:Step2ManualValidated.html.twig' %}
    {% endif %}

    {% include 'InsaLanTournamentBundle:Part:Step3Validated.html.twig' %}
    {% include 'InsaLanTournamentBundle:Part:Step4Active.html.twig' %}

  </section>
</article>
{% endblock %}
