{% extends 'InsaLanTournamentBundle:User:layout.html.twig' %}

{% block body %}
{{ parent() }}

<article>
  <aside>
    <div class="square">
      <a href="#body"><span></span></a>
    </div>
  </aside>

  <header>
    <h2>Inscription à &laquo; {{ registrable.name }} &raquo;</h2>
    {{ registrable.description }}
  </header>

  <section>


    {% include 'InsaLanTournamentBundle:Part:ChooseGameNameValidated.html.twig'  with {'counter': 1}%}
    {% include 'InsaLanTournamentBundle:Part:ChoiceTeamValidated.html.twig'  with {'counter': 2}%}
    {% include 'InsaLanTournamentBundle:Part:JoinTeamActive.html.twig'  with {'counter': 3}%}


  </section>
</article>
{% endblock %}
