{% extends 'InsaLanTournamentBundle::layout.html.twig' %}

{% block body %}
{{ parent() }}

<article>
  <aside>
    <div class="square">
      <a href="#body"><span></span></a>
    </div>
  </aside>

  <header>
      <h2>Paiement réussi</h2>
      {{ dump(status) }}
  </header>

  <section>

    lel

  </section>
</article>
{% endblock %}
