{% extends 'InsaLanTournamentBundle:User:layout.html.twig' %}

{% block body %}
{{ parent() }}

<article>
  <aside>
    <div class="square">
      <a href="#body"><span></span></a>
    </div>
  </aside>

  <header>
    <h2>Inscription à &laquo; {{ tournament.name }} &raquo;</h2>
    {{ tournament.description }}
  </header>

  <section>

    {% if api is defined %}
        <div class="text" style="text-align: center">
          <br />
          <p>
            Vous devez renseigner votre identifiant
            <strong>
              {% if api == 'battlenet' %} Battle.net {% endif %}
              {% if api == 'Steam' %} Steam {% endif %}
            </strong>
            pour participer à ce tournoi.
          </p>
          <br />
          <div>
             <a href="{{registerUri}}" class="btn btn-primary">Renseigner votre identifiant</a>
          </div>
        </div>
    {% endif %}

  </section>
</article>
{% endblock %}