{% extends 'InsaLanTournamentBundle::layout.html.twig' %}

{% block body %}
{{ parent() }}

<article>
  <aside>
    <div class="square">
      <a href="#body"><span></span></a>
    </div>
  </aside>

  <header>
    <h2>Inscription à un tournoi</h2>
  </header>

  <section>

    {% if selectedGame == 'lol' %}
      {% include 'InsaLanTournamentBundle:Part:Step1LolValidated.html.twig' %}
      {% include 'InsaLanTournamentBundle:Part:Step2LolActive.html.twig' %}
    {% else %}
    <div class="frame frame-danger">
      <header>
        <div class="step pull-left">
          1
        </div>
        <div class="title pull-left">Pas encore implémenté</div>
        <br class="clear">
      </header>
    </div>
    {% endif %}




  </section>
</article>
{% endblock %}
