{% extends 'InsaLanBundle::layout.html.twig' %}

{% block title %}
{{ parent() }}
- Archives
{% endblock %}

{% block stylesheets %}
{{ parent() }}
  {% stylesheets 'bundles/insalan/css/news.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}
{% endblock %}

{% block rawbody %}
{{ parent() }}

<section class="container">
  {% block body %}{% endblock %}
</section>
{% endblock %}
