{% extends 'InsaLanBundle::layout.html.twig' %}

{% block title %}
  {{ parent() }} -
  Oups !
{% endblock %}

{% block body %}
<h1 style="margin-top:50px; margin-bottom:30px;">Oups, petit problème...</h1>

<p>Cette page n'est pas disponible actuellement :-(<br />
Ne paniquez pas, <strong><a href="https://www.youtube.com/watch?v=T5WdpSPeQUE">la situation est sous contrôle</a></strong>. Enfin, presque.</p>

<div style="height:200px"><!-- Insérer ici une photo de chaton triste --></div>

{% endblock %}
