

<div class="picture-list">

    {% for p in picture %}
          <div class="picture">

                  <img src="{{ asset(p.getUploadDir() ~ p.path)  }}" alt="{{ p.name }}"/>
                    </div>

    {% endfor %}
</div>
