/app/config/parameters.yml
bin/SymfonyRequirements.php
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
/vendor/
/web/bundles/
/app/build/
/vendor/
/web/bundles/
/web/css/
/web/js/
/web/uploads/
/web/config.php
/deploy/conf/*
/deploy/tmp/*
!/deploy/conf/*.dist
*~
/prod/
.idea/
