/app/config/parameters.yml
/bin/symfony_requirements
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/log
/var/log/*
!var/log/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!/var/SymfonyRequirements.php
/vendor/
/web/bundles/
/app/build/
/vendor/
/web/bundles/
/web/css/
/web/js/
/web/uploads/
/web/config.php
/deploy/conf/*
/deploy/tmp/*
!/deploy/conf/*.dist
*~
/prod/
.idea/
/data/ticket/*
!/data/ticket/.gitkeep

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
