/bin/
/app/bootstrap.php.cache
/app/cache/
/app/check.php
/app/config/parameters.yml
/app/logs/
/app/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/css/
/web/js/
/web/uploads/
/web/config.php
