{% extends 'tournamentLayout.html.twig' %}

{% block body %}
{{ parent() }}

<article>
  <aside>
    <div class="square">
      <a href="#body"><span></span></a>
    </div>
  </aside>

  <header>
    <h2>Inscription à &laquo; {{ tournament.name }} &raquo;</h2>
    {{ tournament.description }}
  </header>

  <section>
    {% if tournament.participantType == 'team' %}
      {% include 'tournament_manager/ChooseManagerNameValidated.html.twig' with {'counter': 1} %}
      {% include 'tournament_manager/CreateJoinTeamValidated.html.twig' with {'counter': 3} %}
      {% include 'tournament_manager/BeforePaymentValidated.html.twig' with {'counter': 4} %}
      {% include 'tournament_manager/WaitPaymentActive.html.twig' with {'counter': 5} %}
    {% else %}
      {% include 'tournament_manager/ChooseManagerNameValidated.html.twig' with {'counter': 1} %}
      {% include 'tournament_manager/BeforePaymentValidated.html.twig' with {'counter': 2} %}
      {% include 'tournament_manager/WaitPaymentActive.html.twig' with {'counter': 3} %}
    {% endif %}
  </section>
</article>
{% endblock %}
