{% block form_row %}
{% spaceless %}
<div class="input left">
  {{ form_label(form) }}
  {{ form_errors(form) }}
  {{ form_widget(form) }}
</div>
{% endspaceless %}
{% endblock form_row %}

{% block button_row -%}
  <div class="input left">
    {{- form_widget(form) -}}
  </div>
{%- endblock button_row %}
