{% extends 'InsaLanBundle::layout.html.twig' %}

{% block title %}
  {{ parent() }} -
  Cosplay
{% endblock %}

{% block body %}
{{ parent() }}
<section>
        <h2><Strong>pour l'inscription au concourt cosplay</Strong></h2>
        <br class="clear">
        <br class="clear">
        <article>

        </article>
</section>
{% endblock %}