{% extends 'InsaLanInformationBundle::layout.html.twig' %}

{% block body %}
{{ parent() }}

<article id="asso" class="info">
  <aside>
    <div class="square">
      <a href="#body"><span></span></a>
    </div>
  </aside>

  <header>
    <h2>Contact</h2>
  </header>

  <section>
     
     <p>
     Pour toutes demandes de renseignements ou demandes de prestations pour des événements Lan-parties et autres :
     </p>

     <p>
     <span class="emphase">Maxence Detante</span>

     <strong>Président</strong><br>
     Tel : +33 (0)6 95 51 66 63 /
     Email : contact (at) insalan.fr

     </p>

     <p>
     <span class="emphase">Lucas Plançon</span>

     <strong>Responsable Partenariat / Public Relations</strong><br>
     Tel : +33 (0)6 86 37 33 01 /
     Email : partenariat (at) insalan.fr

     </p>
     
     <p>
     <span class="emphase">Valentin Bouvier</span>

     <strong>Responsable Tournois</strong><br>
     Tel : +33 (0)6 02 37 65 82 /
     Email : tournois (at) insalan.fr

     </p>
  </section>
</article>



{% endblock %}
