{% extends 'InsaLanInformationBundle::layout.html.twig' %}

{% block body %}
{{ parent() }}

<article id="asso" class="info">
  <aside>
    <div class="square">
      <a href="#body"><span></span></a>
    </div>
  </aside>

  <header>
    <h2>Contact</h2>
  </header>

  <section>
     
     <p>
     Pour toutes demandes de renseignements ou demandes de prestations pour des événements Lan-parties et autres :
     </p>

     <p>
     <span class="emphase">Julie Sérisé</span>

     <strong>Présidente</strong><br>
     Tel : +33 (0)6 78 28 57 70 /
     Email : contact (at) insalan.fr

     </p>

     <p>
     <span class="emphase">Mathieu Paboul</span>

     <strong>Responsable Partenariat / Public Relations</strong><br>
     Tel : +33 (0)6 24 33 79 00 /
     Email : partenariat (at) insalan.fr

     </p>
     
     <p>
     <span class="emphase">Mikael "Walikiu" Le</span>

     <strong>Responsable Tournois</strong><br>
     Tel : +33 (0)6 82 79 68 62 /
     Email : tournois (at) insalan.fr

     </p>
  </section>
</article>



{% endblock %}
