{% extends 'InsaLanInformationBundle::layout.html.twig' %}

{% block body %}
{{ parent() }}

<article id="asso" class="info">
  <aside>
    <div class="square">
      <a href="#body"><span></span></a>
    </div>
    <ul>
      <li>Membres</li>
      <li>90</li>
      <li>Editions</li>
      <li>11</li>
    </ul>
  </aside>

  <header>
    <h2>Association</h2>
  </header>

  <section>
    <p>
      L'InsaLan est un évènement de jeux en réseau d'envergure nationale organisé par un groupe d'étudiants de l'association <em>AEIR</em> (Amicale des Elèves de l'INSA de Rennes) à but non lucratif de loi 1901. Cette association étudiante est issue de l'<em>INSA</em> (Institut National des Sciences Appliquées) de Rennes, une des écoles d'ingénieurs du réseau INSA. L'InsaLan se compose cette année d'une équipe d'environ 60 étudiants, passionnés de jeux vidéo et de compétition électronique.
      <br/>
      Cette année, la onzième édition de l'InsaLan accueillera plus de <em>400 joueurs</em> le temps d'un week-end. Les compétitions se dérouleront dans la zone tournois de l'évènement tandis que des animations gratuites seront proposées à tout le monde. L'équipe de l'InsaLan est ravie de vous présenter le résultat d'une année de travail et l'expérience de ses 10 autres éditions.
    </p>
  </section>
</article>

<hr/>

<article id="horaire" class="info">
  <aside>
    <div class="square">
      <a href="#body"><span></span></a>
    </div>
    <ul>
      <li>Début</li>
      <li>08h00</li>
      <li>Fin</li>
      <li>01h30</li>
    </ul>
  </aside>

  <header>
    <h2>Horaires</h2>
  </header>

  <section>
    <p>
      L'InsaLan vous ouvre ses portes du <em>Vendredi 5 Février à 19h00 au Dimanche 7 Février, 19h00</em>. L'évènement sera ouvert au public et libre d'accès toute la journée du samedi, de <em>8h00 à 1h30 du matin</em> ainsi que la journée du Dimanche de <em>8h00 à 19h00</em>.
      <br/>
      Les joueurs possèdant un badge sont autorisés à rester dans l'enceinte de l'évènement durant la nuit. Des rondes de sécurité sont organisées par l'équipe.
      L'alcool n'est pas autorisé et sa consommation peut entrainer une exclusion des compétitions et de l'évènement dans sa totalité à la seul discrétion des organisateurs.
    </p>
  </section>
</article>

<hr/>

<article id="tarif" class="info">
  <aside>
    <div class="square">
      <a href="#body"><span></span></a>
    </div>
    <ul>
      <li>Joueurs</li>
      <li>&lt;25€/30 €</li>
      <li>Visiteurs</li>
      <li>Gratuit</li>
    </ul>
  </aside>

  <header>
    <h2>Tarifs, Repas et Boissons</h2>
  </header>

  <section>
    <p>
      L'entrée visiteur est <em>gratuite</em> et permet l'accès à la zone animations de l'InsaLan. La zone joueurs est restreinte aux personnes inscrites dans une compétition et portant un badge.
      <em>Le tarif joueur sur place s'élève à 30€</em>, mais des places seront en prévente en ligne à un prix inférieur à 25€.
      <br/>
      Un service de restauration sera à votre disposition pendant toute la durée de l'évènement. Cette cafétéria proposera des sandwichs, des pizzas sur commande ainsi que des snacks et boissons sans alcool.
    </p>
  </section>
</article>

<hr/>

<article id="horaire" class="info">
  <aside>
    <div class="square">
      <a href="#body"><span></span></a>
    </div>
    <ul>

    </ul>
  </aside>

  <header>
    <h2>Ce que vous devez apporter en tant que joueur</h2>
  </header>

  <section>
    <p>
    Voici la checklist pour ne rien oublier :

    <ul class="shift">
        <li>Vos papiers d'identité, ils seront vérifiés à l'entrée ;</li>
        <li>Un câble réseau droit RJ45 (entre 7 et 10m) ;</li>
        <li>Un casque audio (enceintes interdites) ;</li>
        <li>Une multiprise avec fil (2m conseillé, triplettes interdites) ;</li>
        <li>Votre PC avec système d'exploitation, jeux, antivirus et drivers à jour ;</li>
        <li>Un écran ;</li>
        <li>Votre clavier et votre souris ;</li>
        <li>Tout autre périphérique que vous utilisez habituellement ;</li>
        <li>Un sac de couchage et matelas si vous dormez sur place ;</li>
        <li>Tout participant mineur doit apporter une autorisation parentale signée par son responsable légal ;</li>
        <li>Un coussin de chaise pour votre confort.</li>
    </ul>
    </p>
  </section>
</article>

<hr/>

<article id="hebergement" class="info">
  <aside>
    <div class="square">
      <a href="#body"><span></span></a>
    </div>
    <ul>

      <li>Hôtel</li>
      <li>42 €</li>
    </ul>
  </aside>

  <header>
    <h2>Hébergement</h2>
  </header>

  <section>
    <p>
        Vous pourrez loger à l'Hôtel Campanile situé à 2 minutes à pied de l'InsaLan.
    </p>
    <p>
        Campanile vous propose des chambres à <strong>42€ la nuit</strong> (pour 1 ou 2 personnes, contre 56€ en temps normal). Il faudra ajouter la taxe de séjour de 0,85€ par personne et par jour. Le petit déjeuner sera à 9.50€. Pour profiter de cette offre, <strong>appelez l'Hôtel Campanile Rennes Est - Atalante au 02 99 38 37 27 et dites "INSALAN".</strong>
    </p>
    <p>
        Si vous êtes plus guerrier, vous pourrez dormir dans l'InsaLan. La salle sera surveillée en permanence la nuit pour éviter les vols.
    </p>
  </section>
</article>

<hr/>

<article id="anim" class="info">
  <aside>
    <div class="square">
      <a href="#body"><span></span></a>
    </div>
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </aside>

  <header>
    <h2>Animations</h2>
  </header>

  <section>
    <p>
      Une zone animations gratuite, ouverte tout le week-end, vous permettra de découvrir ou de redécouvrir un grand nombre de jeux en tout genre : Bornes d'arcade, jeux-vidéo sur PC, jeux musicaux, consoles...
      <br/>
      L'ambiance se veut conviviale et bon enfant, n'hésitez pas à venir visiter l'InsaLan en famille ou entre amis.
    </p>
  </section>
</article>

<hr/>

<article id="tournoi" class="info">
  <aside>
    <div class="square">
      <a href="#body"><span></span></a>
    </div>
    <ul>
      <li>Nombre</li>
      <li>5</li>
      <li>Joueurs</li>
      <li>420</li>
    </ul>
  </aside>

  <header>
    <h2>Tournois</h2>
  </header>

  <section>
    <p>L'InsaLan accueille cette année 5 tournois officiels:</p>
    <ul>
      <li><span>Counter Strike : Global Offensive</span> </li>
      <li><span>League of Legends</span> </li>
      <li><span>Hearthstone</span> </li>
      <li><span>Dota 2</span> </li>
      <li><span>Starcraft 2</span> </li>
    </ul>
  </section>
</article>

<hr>

<article id="horaire" class="info">
<!-- to be fixed later -->
<span id="contact"></span>
  <aside>
    <div class="square">
      <a href="#body"><span></span></a>
    </div>
    <ul>
      <li>Email</li>
      <li>contact@insalan.fr</li>
      <li>Quakenet</li>
      <li>#insalan</li>
    </ul>
  </aside>

  <header>
    <h2>Contact & Adresse</h2>
  </header>

  <section>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2663.3863646693094!2d-1.6364100000000028!3d48.12207200000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x480edee93f7ba837%3A0xe124d178b1a5c8f2!2sInsaLan!5e0!3m2!1sfr!2sfr!4v1422581999135" width="880" height="350" frameborder="0" style="border:0; margin-left: 10px;"></iframe>
      <p>
     Retrouvez-nous sur les réseaux sociaux !<br>
     <a href="https://www.facebook.com/insalan">
        <span class="emphase">Facebook</span>
    </a>
    <a href="https://twitter.com/insalan">
        <span class="emphase">Twitter</span>
    </a>
    <a href="http://webchat.quakenet.org/?channels=insalan">
        <span class="emphase">#insalan sur Quakenet</span>
    </a>
</p>
<br>
    <p>
     Pour toutes demandes de renseignements ou demandes de prestations pour des événements Lan-parties et autres :
     </p>

     <p>
     <span class="emphase">Julie Sérisé</span>

     <strong>Présidente</strong><br>
     Tel : +33 (0)6 78 28 57 70<br>
     Email : contact&#64;insalan.fr

     </p>

     <p>
     <span class="emphase">Matthieu Le Paboul</span>

     <strong>Responsable Partenariat / Public Relations</strong><br>
     Tel : +33 (0)6 24 33 79 00<br>
     Email : partenariat&#64;insalan.fr

     </p>
     
     <p>
     <span class="emphase">Mikael "Wailiku" Le</span>

     <strong>Responsable Tournois</strong><br>
     Tel : +33 (0)6 82 79 68 62<br>
     Email : tournois&#64;insalan.fr

     </p>
     
     <p>
     <span class="emphase">Violaine Fabry</span>

     <strong>Responsable Cosplay</strong><br>
     Tel : +33 (0)6 82 50 58 06 <br>
     Email : cosplay&#64;insalan.fr
     </p>
  </section>
</article>




{% endblock %}
