{% extends 'InsaLanInformationBundle::layout.html.twig' %}

{% block body %}
{{ parent() }}

<article id="asso" class="info">
  <aside>
    <div class="square">
      <a href="#body"><span></span></a>
    </div>
    <ul>
      <li>Membres</li>
      <li>60</li>
      <li>Editions</li>
      <li>9</li>
    </ul>
  </aside>

  <header>
    <h2>Association</h2>
  </header>

  <section>
    <p>
      L'InsaLan est un évènement de jeux en réseau d'envergure nationale organisé par un groupe d'étudiants de l'association <em>AEIR</em> (Amicale des Elèves de l'INSA de Rennes) à but non lucratif de loi 1901. Cette association étudiante est issue de l'<em>INSA</em> (Institut National des Sciences Appliquées) de Rennes, une des écoles d'ingénieurs du réseau INSA. L'InsaLan se compose cette année d'une équipe d'environ 60 étudiants, passionnés de jeux vidéo et de compétition électronique.
      <br/>
      Cette année, la dixième édition de l'InsaLan accueille plus de <em>400 joueurs</em> le temps d'un week-end. Les compétitions se dérouleront dans la zone tournois de l'évènement tandis que des animations gratuites seront proposées à tout le monde. L'équipe de l'InsaLan est ravie de vous présenter le résultat d'une année de travail et l'expérience de ses 9 autres éditions.
    </p>
  </section>
</article>

<hr/>

<article id="horaire" class="info">
  <aside>
    <div class="square">
      <a href="#body"><span></span></a>
    </div>
    <ul>
      <li>Début</li>
      <li>08h00</li>
      <li>Fin</li>
      <li>01h30</li>
    </ul>
  </aside>

  <header>
    <h2>Horaires</h2>
  </header>

  <section>
    <p>
      L'InsaLan vous ouvre ses portes du <em>Vendredi 6 Février à 19h00 au Dimanche 8 Février, 19h00</em>. L'évènement sera ouvert et libre d'accès toute la journée du samedi, de <em>8h00 à 1h30 du matin</em> ainsi que la journée du Dimanche de <em>8h00 à 19h00</em>.
      <br/>
      Les joueurs possèdant un badge sont autorisés à rester dans l'enceinte de l'évènement la nuit. Des rondes de sécurité sont organisées par l'équipe.
      L'alcool n'est pas autorisé et sa consommation peut entrainer une exclusion des compétitions et de l'évènement dans sa totalité.
    </p>
  </section>
</article>

<hr/>

<article id="tarif" class="info">
  <aside>
    <div class="square">
      <a href="#body"><span></span></a>
    </div>
    <ul>
      <li>Joueurs</li>
      <li>22/30 €</li>
      <li>Visiteurs</li>
      <li>Gratuit</li>
    </ul>
  </aside>

  <header>
    <h2>Tarifs et Repas</h2>
  </header>

  <section>
    <p>
      L'entrée visiteur est <em>gratuite</em> et permet l'accès à la zone animations de l'InsaLan. La zone joueurs est restreinte aux personnes inscrites dans une compétition et portant un badge.
      Le tarif joueur sur place s'élève à 30€.
      <br/>
      Un service de restauration sera à votre disposition pendant toute la durée de l'évènement. Cette cafétéria proposera des sandwichs, des pizzas sur commande ainsi que des snacks et boissons.
    </p>
  </section>
</article>

<hr/>

<article id="anim" class="info">
  <aside>
    <div class="square">
      <a href="#body"><span></span></a>
    </div>
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </aside>

  <header>
    <h2>Animations</h2>
  </header>

  <section>
    <p>
      Une zone animations gratuite, ouverte tout le week-end, vous permettra de découvrir ou de redécouvrir un grand nombre de jeux en tout genre : Bornes d'arcade, jeux-vidéo sur PC, jeux musicaux, consoles...
      <br/>
      Dans une ambiance conviviale et bon enfant, n'hésitez pas à venir visiter l'InsaLan en famille ou entre amis.
    </p>
  </section>
</article>

<hr/>

<article id="tournoi" class="info">
  <aside>
    <div class="square">
      <a href="#body"><span></span></a>
    </div>
    <ul>
      <li>Nombre</li>
      <li>5</li>
      <li>Joueurs</li>
      <li>420</li>
    </ul>
  </aside>

  <header>
    <h2>Tournois</h2>
  </header>

  <section>
    <p>L'InsaLan accueille cette année 5 tournois officiels:</p>
    <ul>
      <li><span>Counter Strike : Global Offensive</span> </li>
      <li><span>League of Legends</span> </li>
      <li><span>Hearthstone</span> </li>
      <li><span>Dota 2</span> </li>
      <li><span>Starcraft 2</span> </li>
    </ul>
  </section>
</article>

<hr>

<article id="contact" class="info">
  <aside>
    <div class="square">
      <a href="#body"><span></span></a>
    </div>
    <ul>
      <li>Email</li>
      <li>contact@insalan.fr</li>
      <li>Quakenet</li>
      <li>#insalan</li>
    </ul>
  </aside>

  <header>
    <h2>Contact</h2>
  </header>

  <section>
      <p>
     Retrouvez-nous sur les réseaux !<br>
     <a href="https://www.facebook.com/insalan">
        <span class="emphase">Facebook</span>
    </a>
    <a href="https://twitter.com/insalan">
        <span class="emphase">Twitter</span>
    </a>
    <a href="http://webchat.quakenet.org/?channels=insalan">
        <span class="emphase">#insalan sur Quakenet</span>
    </a>
</p>
<br>
    <p>
     Pour toutes demandes de renseignements ou demandes de prestations pour des événements Lan-parties et autres :
     </p>

     <p>
     <span class="emphase">Quentin Dufour</span>

     <strong>Président</strong><br>
     Tel : +33 (0)6 76 79 99 88 /
     Email : contact&#64;insalan.fr

     </p>

     <p>
     <span class="emphase">Guillaume Gautier</span>

     <strong>Responsable Partenariat / Public Relations</strong><br>
     Tel : +33 (0)6 87 79 31 21 /
     Email : partenariat&#64;insalan.fr

     </p>
     
     <p>
     <span class="emphase">Simon Bouvier</span>

     <strong>Responsable Tournois</strong><br>
     Tel : +33 (0)6 21 40 70 93 /
     Email : tournois&#64;insalan.fr

     </p>
     
     <p>
     <span class="emphase">Morgane Carry</span>

     <strong>Responsable Cosplay</strong><br>
     Tel : +33 (0)6 47 11 53 62 /
     Email : cosplay&#64;insalan.fr
     </p>
  </section>
</article>




{% endblock %}
