{% extends 'InsaLanInformationBundle::layout.html.twig' %}

{% block body %}
{{ parent() }}

<article>
  <header>
    <h2>
      <span class="pull-left">Locations</span>
      <span class="pull-right"><a href="https://scoup-esport.fr/"><img src="{{ asset('bundles/insalan/img/partenaires/scoup-esport.png') }}" alt="Scoup Esport"/></a></span>
      <br class="clear">
    </h2>
  </header>
  
  <br/><br/>
 
  {% if validated or is_granted('ROLE_ADMIN') %}
    <div class="grid-7 pull-left">
      <header><h2>Inscriptions</h2></header>
      <iframe src="https://www.weezevent.com/widget_billeterie.php?id_evenement=404293&lg_billetterie=1&code=27688&resize=1&width_auto=1&color_primary=00AEEF&v=2" width="570" height="1040" frameborder="0" marginheight="0" marginwidth="0">Chargement en cours...</iframe>
    </div>
  {% else %}
    <div class="grid-7 pull-left">
      <p>
        Votre inscription doit être validée avant d'accéder à la location.
      </p>

      <table class="list">
        <tr>
          <td><strong>Matériel</strong></td>
          <td><strong>Prix</strong></td>
        </tr>
        <tr>
          <td>Location Ecran 27" 144Hz</td>
          <td> 40,00 </td>
        </tr>
        <tr>
          <td>Location Kaliento</td>
          <td> 5,00 </td>
        </tr>
        <tr>
          <td>Location Souris</td>
          <td> 5,00 </td>
        </tr>
        <tr>
          <td>Location Casque</td>
          <td> 15,00 </td>
        </tr>
        <tr>
          <td>Location Clavier</td>
          <td> 10,00 </td>
        </tr>
        <tr>
          <td>Location Chaise Gaming</td>
          <td> 45,00 </td>
        </tr>
        <tr>
          <td>
            <p>Location PC Streaming</p>
            <small>Intel I7 - 16Gb de ram<br/>Carte graphique 1080 ou 1080Ti</small>
          </td>
          <td> 120,00 </td>
        </tr>
        <tr>
          <td>
            <p>Location PC Gaming</p>
            <small>Intel I5 - 8Gb de ram<br/>Carte graphique 1060 6Gb ou 1070</small>
          </td>
          <td> 95,00 </td>
        </tr>
        <tr>
          <td>Location Ecran 24" 144Hz</td>
          <td> 35,00 </td>
        </tr>
        <tr>
          <td>
            <p>Pack Gaming</p>
            <small>Pack comprennant le PC Gaming, l'écran, le siège et l'installation sur place</small>
          </td>
          <td> 220,00 </td>
        </tr>
      </table>
    </div>
  {% endif %}

  <div class="grid-3 pull-left">
    <div class="frame frame-active">
      <header class="full">
        <div class="title pull-left">Contact organisateur</div>
        <br class="clear">
      </header>
      <header class="full">
        <div class="title text-center">SCOUP ESPORT</div>
        <br class="clear">
      </header>
      <header class="full">
        <br/>
        <div class="text-center">Quang Long LE - PRESIDENT</div>
        <br class="clear">
      </header>
      <header class="full">
        <br/>
        <div class="text-center">Adresse : 5 RUE PIERRE ET MARIE CURIE 94460 CHENNEVIERES SUR MARNE FRANCE</div>
      <br class="clear">
      </header>
      <header class="full">
        <br/>
        <div class="text-center">Téléphone : 0635558166</div>
        <br class="clear">
      </header>
    </div>
  </div>

  <br class="clear"><br/>

  <div>
    <span class="pull-left">
      <a href="https://weezevent.com/">Propulsé par Weezevent</a>
    </span>
    <span class="pull-right">
      <a href="https://www.weezevent.com/widget/cgv/fr_FR" target="_blank">Voir les CGV de Weezevent</a>
    </span>
  </div>

  <br/><br/>
  <hr/><br/>

  <br/><br/>
  <center>
    <header><h2>Laisser un commentaire</h2></header>
    <iframe src="https://www.facebook.com/plugins/feedback.php?app_id&channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2Fj-GHT1gpo6-.js%3Fversion%3D43%23cb%3Df11723275b99dce%26domain%3Dwww.weezevent.com%26origin%3Dhttps%253A%252F%252Fwww.weezevent.com%252Ff262eaeca6b7ef4%26relation%3Dparent.parent&container_width=515&height=100&href=http%3A%2F%2Fwww.weezevent.com%2Finsalan&locale=fr_FR&sdk=joey&width=510" width="555" frameborder="0" marginheight="0" marginwidth="0" style="background-color: white;">Chargement en cours...</iframe>
  </center>
  <br/><br/>
</article>
{% endblock %}
