{% extends 'InsaLanInformationBundle::layout.html.twig' %}

{% block body %}
{{ parent() }}

<section class="hero">
  <div class="big-picture">
    <div class="moto">
      QUALIFICATIONS
    </div>
  </div>
  <div>
    <a href="#games" class="block">
      LoL
    </a>
    <a href="#organization" class="block">
      64 Slots
    </a>
    <a href="#price" class="block">
      Gratuit
    </a>

    <a href="{{ path('fos_user_registration_register') }}" class="block block-huge">
      INSCRIPTION 
    </a>
    <br style="clear: both">
  </div> 
</section>

<article id="rewards" class="info">
  <aside>
    <div class="square">
      <a href="#body"><span></span></a>
    </div>
    <ul>
      <li>Lots</li>
      <li>Places gratuites</li>
    </ul>
  </aside>

  <header>
    <h2>Récompenses</h2>
  </header>
  <section>
    <p>
      <ul class="shift">
        <li>1er. 3 places offertes pour l'InsaLan X (d'une valeur d'au moins 66€)</li>
        <li>2eme. 2 places offertes pour l'InsaLan X (d'une valeur d'au moins 44€)</li>
        <li>3eme. 1 place offerte pour l'InsaLan X (d'une valeur d'au moins 22€)</li>
      </ul>
    </p>
  </section>
</article>

<article id="organization" class="info">
  <aside>
    <div class="square">
      <a href="#body"><span></span></a>
    </div>
    <ul>
      <li>Qualifiés</li>
      <li>16 équipes</li>
    </ul>
  </aside>

  <header>
    <h2>Déroulement</h2>
  </header>
  <section>
    <p>
      Une fois les 64 équipes inscrites, ces dernières seront réparties en 8 poules de 8 équipes chacunes. Les 2 meilleures équipes de chaque poule se qualifieront pour l'InsaLan.
      Sur les 64 équipes inscrites aux qualifications, 16 se qualifieront donc pour l'InsaLan. 
      Un tournoi en ligne sera organisé entre ces 16 équipes pour déterminer les vainqueurs des qualifications.</p>
  </section>
</article>

<article id="games" class="info">
  <aside>
    <div class="square">
      <a href="#body"><span></span></a>
    </div>
    <ul>
      <li>InsaLan X</li>
      <li>5 jeux</li>
    </ul>
  </aside>

  <header>
    <h2>Jeux</h2>
  </header>
  <section>
    <p>
      Ces qualifications sont <strong>exclusivement réservées</strong> à League of Legends.
    </p>
    <p>
      Pour autant, l'InsaLan X comptera 5 jeux. Les inscriptions ouvriront plus tard dans l'année. Voici la liste officielle des jeux :
      <ul class="shift">
        <li>League of Legends</li>
        <li>Starcraft 2</li>
        <li>Counter Strike : Global Offensive</li>
        <li>DOTA 2</li>
        <li>Hearthstone</li>
      </ul>
    </p>
  </section>
</article>
<article id="price" class="info">
  <aside>
    <div class="square">
      <a href="#body"><span></span></a>
    </div>
    <ul>
      <li>Qualifs</li>
      <li>Gratuit</li>
    </ul>
    <ul>
      <li>InsaLan X</li>
      <li>~ 22€</li>
    </ul>
  </aside>

  <header>
    <h2>Prix</h2>
  </header>
  <section>
    <p>
      Les qualifications sont totalement gratuites. Aucune carte bancaire ou autre ne vous sera demandé.
    </p>
  </section>
</article>
{% endblock %}
