{% extends 'InsaLanInformationBundle::layout.html.twig' %}

{% block body %}
{{ parent() }}

<article id="asso">
  <aside>
    <div class="square">
      <a href="#body"><span></span></a>
    </div>
    <ul>
      <li>Membres</li>
      <li>60</li>
      <li>Editions</li>
      <li>9</li>
    </ul>
  </aside>

  <header>
    <h2>Association</h2>
  </header>

  <section>
    <p>
      For this OnLux Gaming 1st edition, OnLux' staff wants to set up <em>3 main tournaments</em> opened to any kind of players with different skill levels.
      <br/>
      We need your help to decide which tournaments will take place at Onlux Gaming 1 !
      Please <em>vote for your preferences</em> on our <a href="https://www.facebook.com/onluxgaming" target="_blank">facebook page</a> on the different polls. We'll try to have at least one game per category (except for the miscellaneous one where you can vote for every game if you want to).
    </p>
  </section>
</article>

<hr>

<article id="horaire">
  <aside>
    <div class="square">
      <a href="#body"><span></span></a>
    </div>
    <ul>
      <li>Membres</li>
      <li>60</li>
      <li>Editions</li>
      <li>9</li>
    </ul>
  </aside>

  <header>
    <h2>Horaires</h2>
  </header>

  <section>
    <p>
      For this OnLux Gaming 1st edition, OnLux' staff wants to set up <em>3 main tournaments</em> opened to any kind of players with different skill levels.
      <br/>
      We need your help to decide which tournaments will take place at Onlux Gaming 1 !
      Please <em>vote for your preferences</em> on our <a href="https://www.facebook.com/onluxgaming" target="_blank">facebook page</a> on the different polls. We'll try to have at least one game per category (except for the miscellaneous one where you can vote for every game if you want to).
    </p>
  </section>
</article>

<hr>

<article id="tarif">
  <aside>
    <div class="square">
      <a href="#body"><span></span></a>
    </div>
    <ul>
      <li>Membres</li>
      <li>60</li>
      <li>Editions</li>
      <li>9</li>
    </ul>
  </aside>

  <header>
    <h2>Tarifs</h2>
  </header>

  <section>
    <p>
      For this OnLux Gaming 1st edition, OnLux' staff wants to set up <em>3 main tournaments</em> opened to any kind of players with different skill levels.
      <br/>
      We need your help to decide which tournaments will take place at Onlux Gaming 1 !
      Please <em>vote for your preferences</em> on our <a href="https://www.facebook.com/onluxgaming" target="_blank">facebook page</a> on the different polls. We'll try to have at least one game per category (except for the miscellaneous one where you can vote for every game if you want to).
    </p>
  </section>
</article>

<hr>

<article id="anim">
  <aside>
    <div class="square">
      <a href="#body"><span></span></a>
    </div>
    <ul>
      <li>Membres</li>
      <li>60</li>
      <li>Editions</li>
      <li>9</li>
    </ul>
  </aside>

  <header>
    <h2>Animations</h2>
  </header>

  <section>
    <p>
      For this OnLux Gaming 1st edition, OnLux' staff wants to set up <em>3 main tournaments</em> opened to any kind of players with different skill levels.
      <br/>
      We need your help to decide which tournaments will take place at Onlux Gaming 1 !
      Please <em>vote for your preferences</em> on our <a href="https://www.facebook.com/onluxgaming" target="_blank">facebook page</a> on the different polls. We'll try to have at least one game per category (except for the miscellaneous one where you can vote for every game if you want to).
    </p>
  </section>
</article>

<hr>

<article id="repas">
  <aside>
    <div class="square">
      <a href="#body"><span></span></a>
    </div>
    <ul>
      <li>Membres</li>
      <li>60</li>
      <li>Editions</li>
      <li>9</li>
    </ul>
  </aside>

  <header>
    <h2>Repas</h2>
  </header>

  <section>
    <p>
      For this OnLux Gaming 1st edition, OnLux' staff wants to set up <em>3 main tournaments</em> opened to any kind of players with different skill levels.
      <br/>
      We need your help to decide which tournaments will take place at Onlux Gaming 1 !
      Please <em>vote for your preferences</em> on our <a href="https://www.facebook.com/onluxgaming" target="_blank">facebook page</a> on the different polls. We'll try to have at least one game per category (except for the miscellaneous one where you can vote for every game if you want to).
    </p>
  </section>
</article>

<hr>

<article id="tournoi">
  <aside>
    <div class="square">
      <a href="#body"><span></span></a>
    </div>
    <ul>
      <li>Membres</li>
      <li>60</li>
      <li>Editions</li>
      <li>9</li>
    </ul>
  </aside>

  <header>
    <h2>Tournois</h2>
  </header>

  <section>
    <p>
      For this OnLux Gaming 1st edition, OnLux' staff wants to set up <em>3 main tournaments</em> opened to any kind of players with different skill levels.
      <br/>
      We need your help to decide which tournaments will take place at Onlux Gaming 1 !
      Please <em>vote for your preferences</em> on our <a href="https://www.facebook.com/onluxgaming" target="_blank">facebook page</a> on the different polls. We'll try to have at least one game per category (except for the miscellaneous one where you can vote for every game if you want to).
    </p>
  </section>
</article>

<hr>

<article id="finale">
  <aside>
    <div class="square">
      <a href="#body"><span></span></a>
    </div>
    <ul>
      <li>Membres</li>
      <li>60</li>
      <li>Editions</li>
      <li>9</li>
    </ul>
  </aside>

  <header>
    <h2>Finales</h2>
  </header>

  <section>
    <p>
      For this OnLux Gaming 1st edition, OnLux' staff wants to set up <em>3 main tournaments</em> opened to any kind of players with different skill levels.
      <br/>
      We need your help to decide which tournaments will take place at Onlux Gaming 1 !
      Please <em>vote for your preferences</em> on our <a href="https://www.facebook.com/onluxgaming" target="_blank">facebook page</a> on the different polls. We'll try to have at least one game per category (except for the miscellaneous one where you can vote for every game if you want to).
    </p>
  </section>
</article>

<hr>

<article id="sponsor">
  <aside>
    <div class="square">
      <a href="#body"><span></span></a>
    </div>
    <ul>
      <li>Membres</li>
      <li>60</li>
      <li>Editions</li>
      <li>9</li>
    </ul>
  </aside>

  <header>
    <h2>Sponsors</h2>
  </header>

  <section>
    <p>
      For this OnLux Gaming 1st edition, OnLux' staff wants to set up <em>3 main tournaments</em> opened to any kind of players with different skill levels.
      <br/>
      We need your help to decide which tournaments will take place at Onlux Gaming 1 !
      Please <em>vote for your preferences</em> on our <a href="https://www.facebook.com/onluxgaming" target="_blank">facebook page</a> on the different polls. We'll try to have at least one game per category (except for the miscellaneous one where you can vote for every game if you want to).
    </p>
  </section>
</article>

{% endblock %}
