{% extends 'InsaLanInformationBundle::layout.html.twig' %}

{% block body %}
{{ parent() }}




<article>
  <aside></aside>
  <header>
    <h2>
      1. Présentation du tournoi
    </h2>
  </header>
  <p>
    Ce tournoi est dit "de qualification" et permet aux 16 équipes gagnantes de réserver un slot au tournoi League of Legends de l'évènement principal InsaLan. Le tournoi de qualification se déroule du 25 octobre au 15 décembre 2014.
  </p>
  <p>
    Sortir vainqueur du tournoi de qualification ne dispense pas de devoir payer sa place à l'évènement principal InsaLan : chaque joueur devra payer les droits d'entrée comme tout le monde. Néanmoins, 6 places gratuites sont mises en jeu dans le cadre de ce tournoi.
  </p>
  <p>
    Les inscriptions seront ouvertes le 3 octobre à 00h01, et fermées le 25 octobre à 23h59.
  </p>
  <p>
    64 slots d'équipe seront disponibles sur la base du premier validé premier servi : les équipes s'inscrivant après que la limite soit atteinte seront placées sur liste d'attente et rappelées en cas de désistement.
  </p>
  <p>
    Une équipe est considérée validée à partir du moment où tous ses membres (soit 5 joueurs) se sont inscrits et ont été validés par le capitaine comme étant membres de l'équipe.
  </p>
</article>


<article>
  <aside></aside>
  <header>
    <h2>
      2. Engagements
    </h2>
  </header>
  <p>
  Chaque joueur participant à ces qualifications s'engage à :
  </p>
  <ul class="shift">
    <li>Avoir lu et accepté le présent règlement ;</li>
    <li>Jouer avec une version officielle, et à jour, du client League of Legends ;</li>
    <li>Respecter les administrateurs et les autres joueurs, notamment en n'ayant pas de comportement offensant ou antisportif (triche, mensonge, non-respect des règles).</li>
  </ul>
  <p>
    L'équipe de l'InsaLan se réserve le droit de prendre des mesures sans appel à l'encontre des joueurs ne respectant pas le présent règlement ou les décisions des administrateurs, pouvant aller jusqu'à l'exclusion des qualifications et de l'InsaLan.
  </p>
</article>


<article>
  <aside></aside>
  <header>
    <h2>
      3. Déroulement du tournoi
    </h2>
  </header>
  <h3>
    3.1 Inscription
  </h3>
  <p>
    Chaque équipe doit désigner un capitaine qui sera le moyen de contact d'une équipe avec les administrateurs du tournoi ainsi qu'avec les autres équipes. Dans la mesure du possible, le  capitaine devra rester le même sur toute la durée du tournoi.
  </p>
  <p>
    Le capitaine, après s'être inscrit sur le site des qualifications avec son nom d'invocateur sur League of Legends, doit y créer une équipe. Les autres joueurs doivent également s'inscrire sur le site en utilisant leur nom d'invocateur, puis demander à rejoindre l'équipe. Le capitaine doit alors valider les demandes de chaque joueur pour qu'il soit intégré.
  </p>
  <p>
    L'équipe est validée quand 4 joueurs y ont rejoint le capitaine, sous réserve que la limite de slots ne soit pas atteinte.
  </p>
  <p>
    La validité des noms d'invocateurs fournis sera vérifiée.
  </p>
  
  <h3>
    3.2 Phase de poules
  </h3>
  <p>
    Les 64 équipes inscrites sont réparties en 8 poules de 8 équipes sur la base de seeds réalisés par les administrateurs du tournoi. Chaque équipe devra jouer une fois contre chaque équipe de sa poule, à raison d'un match par semaine, soit un total de 7 matchs.
  </p>

  <h3>
    3.3 Déroulement d'un match
  </h3>
  <p>
    Les deux équipes doivent tomber d'accord avant chaque dimanche pour définir une date et une heure à laquelle jouer le match de la semaine suivante. Si les équipes n'arrivent pas à trouver un accord, une date et une heure par défaut seront attribuées par les administrateurs du tournoi.
  </p>
  <p>
    Si un match n'est pas joué en temps et en heure, une ou les deux équipes peuvent être sanctionnées (défaite automatique, disqualification si récidive), cette décision revenant aux administrateurs du tournoi.
  </p>
  <p>
    Chaque match se jouera en BO1, une victoire équivalant à 1 point et une défaite équivalant à 0 point.
  </p>
  <p>
    Un "Tournament Code" ("Code de tournoi") sera fourni par le site de qualifications pour chacun des matchs. Il doit impérativement être utilisé par tous les joueurs pour rejoindre le match : Jouer -> Partie personnalisée -> Code de tournoi -> Copier/coller le code fourni -> Rejoindre.
  </p>
  <p>
    Tout match joué sans utilisation du "Tournament Code" sera considéré nul. L'accès à la partie via "Tournament Code" est nécessaire pour que nous puissions récupérer automatiquement les résultats à la fin du match et vérifier qu'il n'y a pas eu triche, notamment changement de joueurs.
  </p>

  <h3>
    3.4 Interruption d'un match
  </h3>
  <p>
    La pause (/pause dans le chat) pourra être utilisée par une équipe uniquement en cas de déconnexion ou problème technique. En cas de pause, sa justification doit être transmise immédiatement à l'équipe adverse ainsi qu'à un admin.
  </p>
  <p>
    La reprise du match (/unpause) est réalisée par l'équipe adverse après accord mutuel des 2 équipes ou si 15 minutes ou plus se sont écoulées.
  </p>
  <p>
    Cas spécial : si une déconnexion survient pendant les 5 premières minutes sans que le joueur n'arrive à se reconnecter, et avant le first blood, alors la partie pourra être relancée immédiatement avec les mêmes picks.
  </p>
  <p>
    Si un joueur se déconnecte et n'arrive pas à se reconnecter, et après le first blood ou après les 5 premières minutes, la partie pourra être rejouée ou pas, à la décision de l'équipe adverse.
  </p>

  <h3>
    3.5 Annonce des résultats et upload des replays
  </h3>
  <p>
    Grâce au "Tournament Code", les résultats seront récupérés automatiquement par le site de qualifications. Il est toutefois demandé aux capitaines d'uploader sur le site de qualifications un replay du match, enregistré grâce au programme <a href=http://www.leaguereplays.com/download/>LOLReplay</a>, afin d'en garder une trace. Ce replay sera utilisé en cas de litige ou de réclamation de la part des participants quant au résultat d'un match.
  </p>
  <p>
    De plus l'InsaLan se réserve le droit d'exploiter ces fichiers pour tout type d'utilisation (vidéos promotionnelles, Top 5 Fails, Top 5 Plays, etc).
  </p>

  <h3>
    3.6 Classement et qualification pour l'InsaLan
  </h3>
  <p>
    À l'issue des 7 matchs, un classement des équipes est effectué dans chaque poule en fonction de leur nombre de points.
  </p>
  <p>
    La gestion des cas d'égalité sera faite comme suit :
  </p>
  <ul class="shift">
    <li>
      Si une équipe A et une équipe B sont à égalité, mais que l'équipe A a battu l'équipe B lors de leur rencontre, alors l'équipe A sera classée au-dessus de l'équipe B.
    </li>
    <li>
      Si 3 équipes ou plus sont  à égalité et qu'il n'est pas possible de les départager avec la méthode  précédente, le classement sera fait en fonction du ratio  Kill/Death/Assist ((Kill+Assist)/Death) sur les matchs entre les équipes.
    </li>
  </ul>
  <p>
    Les équipes classées première et seconde de chaque poule (soit 16 équipes au total) seront qualifiées pour le tournoi League of Legends de l'événement principal InsaLan et y auront un slot réservé. Les joueurs de ces équipes ne sont néanmoins pas dispensés de payer leur place et devront s'acquitter des droits d'entrée comme tout le monde.
  </p>
  <p>
    Si une équipe qualifiée (i.e. étant arrivée dans les 16 premiers du tounoi de qualifications)  se désiste, alors le slot sera ouvert en inscription libre.
  </p>
</article>


<article>
  <aside></aside>
  <header>
    <h2>
      4. Triche et comportements nocifs
    </h2>
  </header>
  <p>
    En cas de triche suspectée ou de comportement nocif (insulte, menace, etc.), chaque équipe aura la possibilité de poster une réclamation sur la feuille de match détaillant la nature des griefs en joignant captures d'écrans ou toute autre pièce incriminante. Le replay de la partie en question ainsi que les pièces fournies seront utilisés par les admins afin de traiter la plainte et de décider des sanctions si celles-ci s'avèrent nécessaires.
  </p>
  <p>
    Si le replay de la partie n'a pas été uploadé sur la feuille de match, la réclamation sera jugée non recevable.
  </p>
</article>

<article>
  <aside></aside>
  <header>
    <h2>
      5. Sanctions
    </h2>
  </header>
  <p>
    Les administrateurs du tournoi se réservent le droit de définir des sanctions sans appel pour les joueurs ne respectant pas le règlement ou ayant un comportement jugé perturbateur pour le tournoi.
  </p>
  <p>
    Ces sanctions seront adaptées en fonction de la gravité de la faute, et pourront aller jusqu'à une exclusion de l'équipe du tournoi de qualifications et de l'InsaLan.
  </p>
  <p>
    L'inscription d'une équipe ou d'un joueur reconnus pour avoir triché il y a peu, notamment dans un autre tournoi, peut être refusée par les administrateurs du tournoi.
  </p>
</article>

<article>
  <aside></aside>
  <header>
    <h2>
      6. Stream et spectateurs
    </h2>
  </header>
  <p>
    La diffusion en streaming des matchs est autorisée aussi bien aux joueurs qu'à d'éventuels spectateurs. Étant donné que le "Tournament Code" fourni par le site n'autorise que les spectateurs lobby, il faudra qu'ils soient invités dans le lobby avant le lancement du match. Charge aux équipes de se mettre d'accord quant à la présence ou non de ces spectateurs : si une équipe refuse d'avoir des spectateurs, l'autre équipe ne doit pas l'imposer.
  </p>
  <p>
    La fraude par les streams (streamhack, ghosting) est bien entendue prohibée.
  </p>
</article>

<article>
  <aside></aside>
  <header>
    <h2>
      7. Prix
    </h2>
  </header>
  <p>
    À l'issue des qualifications, un tournoi entre les 16 équipes qualifiées aura lieu.
  </p>
  <p>
    Ce tournoi se déroulera sous la forme d'un arbre à simple élimination. Les matchs des demi-finales et la finale se joueront en BO3, le reste en BO1.
  </p>
  <p>
    Les 3 équipes en haut du classement à l'issue de cet arbre recevront des places gratuites pour l'événement principal InsaLan, comme suit :
  </p>
  <ul class="shift">
    <li>
      1<sup>re</sup> équipe : 3 places gratuites
    </li>
    <li>
      2<sup>e</sup> équipe : 2 places gratuites
    </li>
    <li>
      3<sup>e</sup> équipe : 1 place gratuite
    </li>
  </ul>
  <p>
    Si une équipe ayant gagné des places gratuites se désiste et/ou souhaite les offrir à d'autres joueurs, elle devra contacter les administrateurs.
  </p>
  <p>
    De plus les joueurs des 4 équipes en haut du classement à l'issue de cet arbre recevront des Riots Points et des skins, comme suit :
  </p>
  <ul class="shift">
    <li>
      1<sup>re</sup> équipe : 3200 RP et le skin Ryze triomphant pour chaque joueur ;
    </li>
    <li>
      2<sup>e</sup> équipe : 2400 RP pour chaque joueur ;
    </li>
    <li>
      3<sup>e</sup> équipe : 1600 RP pour chaque joueur ;
    </li>
    <li>
      4<sup>e</sup> équipe : 800 RP pour chaque joueur.
    </li>
  </ul>
  <p>Note: L'attribution de ces récompences ne peut être effective que si les invocateurs concernés ne quittent pas la platforme EUW durant leur attribution.</p>
</article>

<article>
  <aside></aside>
  <header>
    <h2>
      8. Droit de réserve
    </h2>
  </header>
  <p>
    Les administrateurs se gardent le droit de revenir sur le règlement dans le but de garantir le bon déroulement du tournoi. Les participants seront bien entendu informés de toute modification ou clarification réalisée après le début du tournoi.
  </p>
</article>
{% endblock %}
