{% extends 'InsaLanInformationBundle::layout.html.twig' %}

{% block body %}
{{ parent() }}

<article>
  <aside></aside>
  <header>
    <h2>1. Dates de l'événement</h2>
  </header>
    <p>
      Les qualifications pour le tournoi League Of Legends de l'InsaLan se dérouleront du 25 Octobre au 15 Décembre.
      Les match seront joué à la fréquence d'un par semaine, sur un moment choisi par les joueurs et accepté par les deux équipes.
    </p>

    <p>
      Les inscriptions seront ouvertes le 3 Octobre à 0h00, et fermées le 23 Octobre à 0h00.
      64 slots seront disponibles.
    </p>

</article>

<article>
  <aside></aside>
  <header>
    <h2>2. Engagements</h2>
  </header>
    <p>
      Chaque joueur participant à ces qualifications s'engage à:
      <ul class="shift">
        <li>Avoir lu et accepté ce règlement.</li>
        <li>Jouer avec une version officielle, et à jour, du client de League Of Legends.</li>
        <li>Respecter les administrateurs et les autres joueurs, en évitant les comportements offensants, ou antisportifs (triche, mensonge, non-respect des règles)</li>
      </ul>
    </p>
    <p>
    L'équipe InsaLan se réserve le droit de prendre des mesures contre les joueurs ne respectant pas ces règles, pouvant aller jusqu'à l'exclusion des qualifications, et de l'InsaLan.
   </p>

</article>

<article>
  <aside></aside>
  <header>
    <h2>3. Déroulement du tournoi</h2>
  </header>
    <h3>3.1 Le capitaine</h3>
    <p>
Chaque équipe devra désigner un capitaine, qui sera en contact avec les administrateurs du tournoi. Dans la mesure du possible, le capitaine devra rester le même sur toute la durée du tournoi.
    </p>
    <br>
    <h3>3.2 Les poules</h3>
    <p>
Les 64 équipes inscrites seront réparties en 8 poules de 8 équipes. Dès lors, chaque équipe devra jouer contre chaque autre à raison d'un match par semaine, soit 7 match.
    </p>
    <br>
    <h3>3.3 Les matchs</h3>
    <p>
	Les joueurs auront donc une semaine pour définir une date acceptée par les deux équipes, et jouer leur match.
    </p>
    <p>
	Si un match n'est pas joué en temps et en heure, une ou les deux équipes peuvent être disqualifiées. La décision de disqualifier des équipes revient aux administrateurs du tournoi.
    </p>
    <br>
    <h3>3.4 Le classement</h3>
    <p>
      A l'issue de ces 7 match, un classement des équipes sera effectué dans chaque poule en fonction de leur nombre de points.
    </p>
    <p>
	En cas d'égalité entre deux équipes au sein d'une poule, le classement sera fait en fonction du résultat de leur rencontre.
    </p>
    <p>
	Les équipes classées premières et secondes de chaque poule seront qualifiées pour l'événement principal InsaLan, ce qui leur donne accès à des slots réservés. Le prix des places reste le même.
    </p>
    <br>
    <h3>3.5 L'égalité</h3>
    <p>
	  La gestion des cas d'égalité sera faite comme suit:
    <ul class="shift">
	    <li>Si Equipe A et Equipe B ont toutes les deux un score de 4 (soit 4 victoires et 3 défaites), mais que Equipe A a battu Equipe B lors de leur match dans la poule, alors Equipe A sera classée au dessus de Equipe B.
      </li>
      <li>
		  Si trois équipes sont à égalité et qu'il n'est pas possible de les départager avec la méthode précédente, le classement sera fait en fonction du ratio Kill/Death/Assist ( (Kill+Assist)/Death ) sur les matchs entre les équipes
      </li>
    </ul>
    </p>

</article>


<article>
  <aside></aside>
  <header>
    <h2>4. Déroulement d'un match</h2>
  </header>
    <p>
    Chaque match se jouera un BO1. Une victoire équivaut à 1 point gagné, une défaite équivaut à 0 point.

Les match se joueront en partie personnalisées, avec les paramètres suivants:
<ul class="shift">
  <li>Carte: Faille de l'invocateur</li>
	<li>Format des équipes: 5 contre 5</li>
	<li>Mode de jeu: Tournament Draft</li>
</ul>
   </p>

</article>

<article>
  <aside></aside>
  <header>
    <h2>5. Annonce des résultats</h2>
  </header>
    <p>
    Les replays devront être sauvegardés avec LoLRecorder et uploadés par un membre de l'équie sur le site web.
   </p>

</article>

<article>
  <aside></aside>
  <header>
    <h2>6. Interruption du match</h2>
  </header>
    <h3>6.1 Déconnexion</h3>
    <p>
    Si une deconnexion involontaire arrive pendant les 5 premières minutes, alors la partie pourra toujours être rejouée immédiatement, sauf si le first blood a déjà coulé.
    </p>
    <p>
	Si un joueur se déconnecte après le first blood, ou après les 5 premières minutes, même involontairement, la partie pourra être rejouée ou pas, à la décision des joueurs.
    </p>
    <br> 
    <h3>6.2 Arret du match</h3>
    <p>
      Les joueurs ne sont pas autorisés à quitter un match officiel en cours sauf sils en sont autorisés par le format du match ou si cela a été expressément autorisé par un officiel du tournoi.
      </p>
      <p>
	Si une équipe ou un joueur quitte un match avant son terme, la victoire est automatiquement donnée à l'équipe adverse.
    </p>
</article>

<article>
  <aside></aside>
  <header>
    <h2>7. Sanctions</h2>
  </header>
    <p>
      Les administrateurs du tournoi se réservent le droit de définir des sanctions pour les joueurs ne respectant pas le règlement, ou ayant un comportement jugé perturbateur pour le tournoi.
Ces sanctions seront adaptées en fonction de la gravité de la faute, et pourront aller jusqu'à une exclusion des qualifications et de l'InsaLan.
    </p>
    <p>
      L'inscription d'une équipe reconnue pour avoir triché il y a peu, notamment dans un autre tournoi, peut être refusée par les administrateurs du tournoi.
   </p>
</article>

<article>
  <aside></aside>
  <header>
    <h2>8. Stream</h2>
  </header>
    <p>
La diffusion de ces qualifications est autorisé pour tout le monde. Les joueurs ont aussi le droit de diffuser leurs propres parties.
La fraude par les streams (streamhack) est, bien entendue, prohibée.
   </p>

</article>

<article>
  <aside></aside>
  <header>
    <h2>9. Prix</h2>
  </header>
    <p>
    A l'issue de ces qualifications, un tournoi entre les 16 équipes qualifiées aura lieu.
Ce tournoi se déroulera sous forme d'un arbre à simple élimination.
    </p>

    <p>
Les 3 équipes en haut du classement construit à l'issu de ce tournoi recevront des places gratuites pour l'événement InsaLan, comme suit:
      <ul class="shift">
        <li>1ère équipe: 3 places gratuites</li>
        <li>2ème équipe: 2 places gratuites</li>
        <li>3ème équipe: 1 place gratuite</li>
      </ul>
   </p>

</article>

<article>
  <aside></aside>
  <header>
    <h2>10. Esprit du règlement</h2>
  </header>
    <p>
Les administrateurs se gardent le droit de revenir sur le règlement dans le but de garder un certain fair-play dans le déroulement du tournoi.
   </p>

</article>
{% endblock %}
