{% extends 'InsaLanArchivesBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'bundles/insalan/css/archives.css' %}
      <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
{{ parent() }}


<div class="previous-years-list">
          <div class=previous-years">
		 	année {{year}}

          </div>
</div>

<article>
  <header>
    <h2>Tournois</h2>
  </header>
  {% include 'InsaLanTournamentBundle:Part:TournamentList.html.twig' with {'tournaments': old_tournaments} %}
</article>
{% endblock %}
