<article id="organization" class="info">
  <aside>
    <div class="square">
      <a href="#body"><span></span></a>
    </div>
    <ul>
      <li>Qualifiés</li>
      <li>16 équipes</li>
    </ul>
  </aside>

  <header>
    <h2>Calendrier</h2>
  </header>
  <section>
    <h3>Du 3 octobre au 25 octobre 2014</h3>
    <p>
      Ouverture des inscriptions au tournoi de qualification !
    </p>
    <p>
      <strong>64 slots</strong> seront disponibles sur la base du premier arrivé premier servi.
    </p>
    
    <h3>Du 25 octobre au 1er décembre 2014</h3>
    <p>
      Une fois les 64 équipes inscrites, ces dernières seront réparties en 8 poules de 8 équipes chacunes. Les <strong>2 meilleures équipes de chaque poule</strong> se qualifieront pour l'InsaLan, soit un total de 16 équipes.
    </p>
    
    <h3>À partir du 1er décembre 2014</h3>
    <p>
      Ces 16 équipes qualifiées auront d'ores et déjà leur <strong>slot réservé</strong> pour l'InsaLan X, mais elles vont en plus se mesurer les unes aux autres dans un arbre à simple élimination, avec à la clef des <strong>places gratuites</strong> pour l'InsaLan X.
    </p>

    <h3>À partir du 20 décembre 2014</h3>
    <p>
      <strong>Ouverture des inscriptions pour l'InsaLan X</strong> pour tous les jeux, sur notre <a href="http://www.insalan.fr/">site principal</a> !
    </p>
    <p>
      En plus des 16 slots ouverts par le biais de ce tournoi de qualification, <strong>16 slots en accès libre</strong> (premier arrivé premier servi) seront ajoutés au tournoi League of Legends, pour un total de 32 slots.
    </p>
    
    <h3>Du 6 au 8 février 2015</h3>
    <p>
      Le moment tant attendu, le weekend de l'<strong>InsaLan X</strong> !
    </p>
    <p>
      2 jours de compétition et de sport électronique dans la halle Francis Querne à l'<strong>INSA de Rennes</strong>.
    </p>
  </section>
</article>

<article id="rewards" class="info">
  <aside>
    <div class="square">
      <a href="#body"><span></span></a>
    </div>
    <ul>
      <li>Lots</li>
      <li>Places gratuites</li>
    </ul>
  </aside>

  <header>
    <h2>Récompenses</h2>
  </header>
  <section>
    <p>
      Les 16 équipes qualifiées obtiennent un <strong>slot réservé</strong> pour le tournoi League of Legends de l'InsaLan X.
    </>
    <p>
      En plus de cela, <strong>6 places gratuites</strong> offertes par l'Insalan et <strong>40 000 RP</strong> offerts par Riot Games sont mis en jeu par le biais d'un tournoi entre les 16 équipes qualifiées :
    </p>
    <ul class="shift">
      <li>1<sup>er</sup> : <strong>3 places offertes</strong> pour l'InsaLan X (d'une valeur d'au moins 66€) pour l'équipe et <strong>3200 RP et le skin Ryze triomphant</strong> pour chaque joueur</li>
      <li>2<sup>e</sup> : <strong>2 places offertes</strong> pour l'InsaLan X (d'une valeur d'au moins 44€) pour l'équipe et <strong>2400 RP</strong> pour chaque joueur</li>
      <li>3<sup>e</sup> : <strong>1 place offerte</strong> pour l'InsaLan X (d'une valeur d'au moins 22€) pour l'équipe et <strong>1600 RP</strong> pour chaque joueur</li>
      <li>4<sup>e</sup> : <strong>800 RP</strong> pour chaque joueur</li>
    </ul>
  </section>
</article>

<article id="games" class="info">
  <aside>
    <div class="square">
      <a href="#body"><span></span></a>
    </div>
    <ul>
      <li>InsaLan X</li>
      <li>5 jeux</li>
    </ul>
  </aside>

  <header>
    <h2>Jeux</h2>
  </header>
  <section>
    <p>
      Ces qualifications sont <strong>exclusivement réservées</strong> au tournoi League of Legends.
    </p>
    <p>
      Pour autant, <strong>l'InsaLan X comptera 5 tournois</strong> ! Les inscriptions ouvriront le 20 décembre, avec 4 autres jeux qui seront bientôt dévoilés.
    </p>    
    <ul class="shift">
      <li>League of Legends (16 slots via qualification + 16 slots en accès libre)</li>
      <li>???</li>
      <li>???</li>
      <li>???</li>
      <li>???</li>
    </ul>
  </section>
</article>
<article id="price" class="info">
  <aside>
    <div class="square">
      <a href="#body"><span></span></a>
    </div>
    <ul>
      <li>Qualifications</li>
      <li>Gratuit</li>
    </ul>
    <ul>
      <li>InsaLan X</li>
      <li>~ 22 €</li>
    </ul>
  </aside>

  <header>
    <h2>Prix</h2>
  </header>
  <section>
    <p>
      Les qualifications sont <strong>totalement gratuites</strong> ! Aucune carte bancaire ou autre ne vous sera demandée.
    </p>
    <p>
      En revanche, soyez avertis que sortir qualifié du tournoi <strong>ne vous dispense pas de devoir payer votre place</strong> à l'InsaLan X (~&nbsp;22&nbsp;€)&nbsp;!
    </p>
  </section>
</article>
