<article id="tournament" class="info">
  <aside>
    <div class="square">
      <a href="#body"><span></span></a>
    </div>
    <ul>
      <li>Qualifications</li>
      <li>4 rounds</li>
    </ul>
  </aside>

  <header>
    <h2>Qualifications en ligne</h2>
  </header>
  <section>
    <p>
      Ces qualifications se déroulen <strong>en ligne</strong> et sont pour le moment <strong>exclusivement réservées</strong> au tournoi League of Legends. Elles se dérouleront en <strong>4 tournois de 64 équipes chacun</strong> (5 joueurs par équipe). Il est possible pour une équipe de s'inscrire à plusieurs tournois de qualification. À l'issue de chaque tournoi, les trois premières équipes sont considérées comme <em>gagnantes</em> et ont l'impossibilité de participer aux éventuels tournois de qualification restant. Si une équipe s'inscrit préalablement à plusieurs tournois et gagne, elle est automatiquement désinscrite des tournois suivants et les slots libérés sont remis à disposition.
    </p>
  </section>
</article>

<article id="organization" class="info">
  <aside>
    <div class="square">
      <a href="#body"><span></span></a>
    </div>
    <ul>
      <li>Qualifiés</li>
      <li>12 équipes</li>
    </ul>
  </aside>

  <header>
    <h2>Calendrier et organisation</h2>
  </header>
  <section>
    <h3>Tableau des dates</h3>
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Slots</th>
          <th>Ouverture des inscriptions</th>
          <th>Clôture des inscriptions</th>
          <th>Date du tournoi</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>LoL#1</tb>
          <td>64</td>
          <td>lundi 2 novembre</td>
          <td>vendredi 13 novembre, 23h59</tb>
          <td>dimanche 15 novembre 2015, 14h-23h</tb>
        </tr>
        <tr>
          <td>LoL#2</tb>
          <td>64</td>
          <td>lundi 2 novembre</td>
          <td>vendredi 20 novembre, 23h59</tb>
          <td>dimanche 22 novembre  2015, 14h-23h</tb>
        </tr>
        <tr>
          <td>LoL#3</tb>
          <td>64</td>
          <td>lundi 2 novembre</td>
          <td>vendredi 27 novembre, 23h59</tb>
          <td>dimanche 29 novembre 2015, 14h-23h</tb>
        </tr>
        <tr>
          <td>LoL#4</tb>
          <td>64</td>
          <td>lundi 2 novembre</td>
          <td>vendredi 4 décembre, 23h59</tb>
          <td>dimanche 6 décembre 2015, 14h-23h</tb>
        </tr>
      </tbody>
    </table>
  </section>
</article>

<article id="rewards" class="info">
  <aside>
    <div class="square">
      <a href="#body"><span></span></a>
    </div>
    <ul>
      <li>Lots</li>
      <li>Places gratuites</li>
    </ul>
  </aside>

  <header>
    <h2>Récompenses</h2>
  </header>
  <section>
    <p>
      Les 3 premières équipes de chaque tournoi sont considérées comme <em>qualifiées</em>. Ces 12 équipes qualifiées obtiennent un <strong>slot réservé</strong> pour le tournoi League of Legends de l'InsaLan X. Elles seront donc prioritaires lors des inscriptions au tournoi League of Legends de l'InsaLan XI.
    </p>
    <p>
      En plus de cela, <strong>4 places gratuites</strong> sont offertes par l'Insalan, <strong>une par vainqueur de chaque tournoi</strong>. Les quatre autres membres de l'équipe devront néanmoins s'acquitter des frais d'inscription.
    </p>
  </section>
</article>

<article id="price" class="info">
  <aside>
    <div class="square">
      <a href="#body"><span></span></a>
    </div>
    <ul>
      <li>Qualifications</li>
      <li>Gratuit</li>
    </ul>
    <ul>
      <li>InsaLan X</li>
      <li>&lt;25€</li>
    </ul>
  </aside>

  <header>
    <h2>Prix</h2>
  </header>
  <section>
    <p>
      Les qualifications sont <strong>totalement gratuites</strong> ! Aucun moyen de paiement ne vous sera demandé.
    </p>
    <p>
      En revanche, soyez avertis que sortir qualifié du tournoi <strong>ne vous dispense pas de devoir payer votre place</strong> à l'InsaLan X (&lt;&nbsp;25&nbsp;€ en ligne)&nbsp;!
    </p>
  </section>
</article>
