{% extends 'InsaLanTournamentBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'bundles/insalan/css/tournament.css' filter='cssrewrite' %}
      <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
{{ parent() }}

<article>
  <header>
    <h2>Tournois ouverts aux inscription</h2>
  </header>
  {% include 'InsaLanTournamentBundle:Part:TournamentList.html.twig' with {'tournaments': opened_tournaments} %}
</article>


<article>
  <header>
    <h2>Tournois en cours</h2>
  </header>
  {% include 'InsaLanTournamentBundle:Part:TournamentList.html.twig' with {'tournaments': registration_closed_tournaments} %}
</article>

<article>
  <header>
    <h2>Tournois terminés</h2>
  </header>
  {% include 'InsaLanTournamentBundle:Part:TournamentList.html.twig' with {'tournaments': old_tournaments} %}
</article>

{% endblock %}
