{% extends 'InsaLanTournamentBundle::layout.html.twig' %}

{% block body %}
{{ parent() }}

<article>
  <header>
    <h2>Tournois</h2>
  </header>

  <section class="tournois">
    <ul>
        <li><a href="#" id="lol"></a></li>
        <li><a href="#" id="sc2"></a></li>
        <li><a href="#" id="cs"></a></li>
        <li><a href="#" id="tf2"></a></li>
    </ul>

    <div class="clear"></div>
    <div class="space"></div>
  </section>
</article>

{% endblock %}
