{% extends 'InsaLanTournamentBundle::layout.html.twig' %}

{% block body %}
{{ parent() }}

<article>
  <header>
    <h2>Tournois</h2>
  </header>

  <section class="tournois">
    <ul>
        <li><a href="http://intranet.insalan.fr/roccat-league-of-legends/" id="lol"></a></li>
        <li><a href="http://intranet.insalan.fr/roccat-starcraft-ii/" id="sc2"></a></li>
        <li><a href="http://intranet.insalan.fr/razer-counter-strike-go/" id="cs"></a></li>
        <li><a href="http://intranet.insalan.fr/speedlink-team-fortress-2/" id="tf2"></a></li>
    </ul>

    <div class="clear"></div>
    <div class="space"></div>
  </section>
</article>

{% endblock %}
