{% extends 'InsaLanTournamentBundle::layout.html.twig' %}

{% block body %}
{{ parent() }}

<article>
  <header>
    <h2>Tournaments</h2>
  </header>
  
  <section>
    <ul>
      {% for t in tournaments %}
        <li><a href="{{ path('insalan_tournament_default_tournament', {id: t.id}) }}" id="{{ t.name | replace({' ': ''}) | lower }}">
          {{ t.name }}</a></li>
      {% endfor %}
    </ul>

    <div class="clear"></div>
    <div class="space"></div>
  </section>
</article>



{% endblock %}
