{% extends 'InsaLanTournamentBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'bundles/insalan/css/tournament.css' filter='cssrewrite' %}
      <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}

<article>
    <header>
        <h2>Règlement du tournoi {{ t.name }}</h2>
    </header>

    <section class="markdown">
        {{ t.rules|markdown }}
    </section>
</article>

{% endblock %}
