{% extends 'InsaLanTournamentBundle::layout.html.twig' %}

{% block title %}
  {{ parent() }} - {{ t.name }}
{% endblock %}

{% block body %}
{{ parent() }}

<article>
  <header>
    <h2>{{ t.name }}</h2>
  </header>

  <section>
  </section>
</article>

{% endblock %}
