.container-admin {
  width: 98%;
  height: 100%;
  margin: auto;
  position: relative;
}

.input.left input, .input.left button, .input.left select {
  margin-left: 0px;
}

.create {
  float: right;
  width: 40%;
}

table {
  background-color: rgba(23, 23, 23, 0.8);
  margin: 20px;
}

td, th, tr {
  border: 1px solid #393939;
  padding: 6px;
  vertical-align: middle;
  text-align: center;
}

tr:nth-child(even) {
  background-color: rgba(23, 23, 23, 0.4);
}

tr:hover {
  background-color: rgba(23, 23, 23, 0.0);
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #00bff3;
  color: white;
}

.input select[multiple] {
  height: auto;
}

.btn-delete, .btn-delete:hover {
  background-color: #DC143C;
  color: white;
}
