.previous-years-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.previous-years {
  text-align: center;
}

.previous-years > a > img {
  max-height: 400px;
  margin: auto;
  opacity: 1;
}

.previous-years > a > img:hover {
  opacity: 0.8;
}

.picture-list {
  margin: 0px 10px 0px 10px;
  display: inline;
}

.picture {
  margin: 0px 10px 0px 10px;
  display: inline;
}

.picture > a > img {
  max-height: 200px;
}
