/** General **/

* {
  margin: 0px;
  padding: 0px;
  border: none;
  color: inherit;
  font-family: PTSans, "Myriad Pro";
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

table, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

@font-face {
  font-family: PTSans;
  src: url('../fonts/PT_Sans-Web-Regular.ttf');
}

@font-face {
  font-family: Oswald;
  src: url('../fonts/Oswald-Regular.ttf');
}

@font-face {
  font-family: OpenSansCond;
  src: url('../fonts/OpenSans-CondLight.ttf');
}

@font-face {
  font-family: Gravity;
  src: url('../fonts/Gravity-Book.ttf');
}

@font-face {
  font-family: GravityBold;
  src: url('../fonts/Gravity-Bold.ttf');
}

body {
  background: black;
  color: #a2a2a2;
}

.todo {
  color: white;
  font-size: 0.8em;
  font-style: italic;
}

.clear {
  clear: both;
}

.container {
  width: 1000px;
  height: 100%;
  margin: auto;
  position: relative;
}


/** Alerts **/

.alert-error, .alert-info {
  color: white;
  padding: 15px;
  margin: 10px 0px;
  text-shadow: black 1px 1px;
  border-radius: 3px;
}

.alert-error button, .alert-info button {
  float: right;
  background: transparent;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 20px;
  cursor: pointer;
  border: none;
  padding: 0px;
}

.alert-error {
  background-color: #f30067;
}

.alert-info {
  background-color: #00bff3;
}

/** Header **/

body > header {
  height: 200px;
  background: #0e0e0e;
  border-bottom: 1px solid #2d2d2d;
  border-top: 1px solid #2d2d2d;
}

body > header .logo {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 400px;
  height: 200px;
}

body > header .logo img {
  width: 437px;
  height: 128px;
}

body > header .logo .pattern {
  background: url('../img/header_pattern1.png') repeat-y;
  /*bottom: 3px;*/
  /*left: 0px;*/
  /*position: absolute;*/
  width: 185px;
  height: 100%;
}

body > header .logo a {
  position: absolute;
  bottom: 33px;
  left: 0px;
}

body > header aside {
  height: 95px;
  width: 460px;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px;
}

body > header aside span {
  font-family: Oswald;
  text-transform: uppercase;
}

body > header aside .day {
  color: white;
  font-size: 2.5em;
  position: absolute;
  bottom: 4px;
  right: 245px;
  letter-spacing: 3px;
  width: 90px;
  text-align: center;
}

body > header aside .month {
  color: #00bff3;
  font-size: 1.4em;
  position: absolute;
  letter-spacing: 20px;
  top: 30px;
  left: 228px;
}

body > header aside .place {
  color: white;
  font-size: 1.4em;
  position: absolute;
  letter-spacing: 18px;
  top: 60px;
  left: 228px;
}

/** Menu **/

body > header nav {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

body > header nav li {
  float: left;
  display: block;
  height: 50px;
  width: 110px;
  text-align: center;
  list-style-type: none;
  line-height: 50px;
}

body > header nav li a {
  display: block;
  font-family: Oswald;
  text-transform: uppercase;
}


body > header nav li.active a {
  color: white;
}

body > header nav li:hover:after,
body > header nav li.active:after {
  background: url('../img/menu_hover.png');
  height: 35px;
  width: 110px;
  content: "";
  display: block;
}

/** Sections **/

article {
  margin-top: 30px;
}

article > header h2 {
  color: white;
  font-family: OpenSansCond;
  font-size: 3em;
  letter-spacing: 3px;
  margin-bottom: 10px;
}


h3 {
  font-family: OpenSansCond;
  text-transform: uppercase;
  color: white;
  margin-bottom: 10px;
}

h3.blue {
  color: #00bff3;
}


article > section p em {
  color: #00bff3;
}

article > section p a {
  color: white;
}

article > section p a:hover {
  color: #00bff3;
}

hr {
  width: 1000px;
  background-color: black;
  height: 1px;
  opacity: 0.5;
  border-bottom: 1px dashed #00bff3;
}

/** Figure **/

figure {
  margin-bottom: 15px;
  text-align: center;
}

figure img {
  opacity: 0.7;
}

figure figcaption {
  font-family: OpenSansCond;
  color: #00bff3;
  font-size: 0.9em;
}

/** Footer **/

footer {
  height: 200px;
  background: #0e0e0e;
  border-top: 1px solid #2d2d2d;
  clear: both;
  margin-top: 30px;
}

footer > div {
  height: 100%;
  width: 1000px;
  margin: auto;
  position: relative;
}

/** Contact **/

footer aside {
  height: 160px;
  width: 220px;
  background-repeat: repeat-y;
  background-image: url('../img/pattern_footer.png');
  background-position: 0px 4px;
  position: absolute;
  top: 0px;
  left: 0px;
}

footer aside > div {
  height: 100%;
  width: 100%;
  position: relative;
}

footer aside #logo {
  width: 214px;
  height: 63px;
  display: inline-block;
  background: url('../img/logo_footer.png') no-repeat;
  opacity: 0.5;
  position: absolute;
  top: 35px;
  left: 31px;
}

footer aside #logo:hover {
  opacity: 1;
}

footer aside #facebook {
  width: 27px;
  height: 27px;
  background-color: #3b5998;
  background-image: url('../img/facebook.png');
  background-size: 27px 27px;
  opacity: 0.5;
  display: inline-block;
  position: absolute;
  top: 128px;
  left: 0px;
}

footer aside #facebook:hover {
  opacity: 1;
}

footer aside #twitter {
  width: 27px;
  height: 27px;
  background-color: #00aced;
  background-image: url('../img/twitter.png');
  opacity: 0.5;
  display: inline-block;
  position: absolute;
  top: 128px;
  left: 31px;
}

footer aside #twitter:hover {
  opacity: 1;
}

footer aside #mail {
  height: 27px;
  width: 120px;
  background: black;
  opacity: 0.5;
  text-align: center;
  position: absolute;
  top: 128px;
  left: 62px;
}

footer aside #mail a {
  color: #00bff3;
  font-family: OpenSansCond;
  text-transform: uppercase;
  font-size: 0.9em;
  line-height: 27px;
}

footer aside #mail:hover {
  opacity: 1;
}

/* NAVIGATION ------------------------------------------------------ */

footer nav {
  width: 780px;
  height: 160px;
  position: absolute;
  top: 0px;
  left: 220px;
}

footer nav > ul > li {
  float: left;
  display: block;
  list-style-type: none;
  margin-right: 25px;
  margin-left: 25px;
  margin-top: 15px;
}

footer nav #stream {
  width: 110px;
  margin-left: 60px;
}

footer nav #tournois {
  width: 110px;
}

footer nav #infos {
  width: 220px;
}

footer nav #galerie {
  width: 110px;
  margin-right: 0px;
}

footer nav > ul > li header {
  height: 30px;
  border-bottom: 1px solid #1a1a1a;
}

footer nav li > a:hover {
  color: white;
}

footer nav > ul > li header a {
  font-family: Oswald;
  text-transform: uppercase;
  color: #00bff3;
}

footer nav > ul > li header a:hover {
  color: #69dcfc;
}

footer nav > ul > li ul li {
  list-style-type: none;
  margin-left: 15px;
  margin-top: 5px;
  font-size: 0.9em;
}

footer nav > ul > li > div > ul {
  float: left;
  display: block;
}

footer nav #infos .second li {
  margin-left: 40px;
}

/** Copyright **/

footer #copyright {
  margin: auto;
  width: 1000px;
  height: 39px;
  border-top: 1px solid #1a1a1a;
  position: absolute;
  bottom: 0px;
  text-align: center;
}

footer #copyright p {
  padding-top: 7px;
  font-family: OpenSansCond;
  text-transform: uppercase;
  font-size: 0.9em;
  color: #616161;
}

footer #copyright a {
  font-family: OpenSansCond;
}

footer #copyright a:hover {
  color: #00bff3;
}

footer #copyright span {
  font-family: OpenSansCond;
  color: #00bff3;
  padding-left: 10px;
  padding-right: 10px;
}

/** Forms **/

.input {
  clear: both;
  margin-bottom: 10px;
}

.input input,
.input button,
.input .btn2,
.input select {
  display: block;
}

.input label {
  color: white;
  font-size: 1.2em;
  line-height: 30px;
  display: block;
}

.input.left label {
  float: left;
  width: 180px;
}

.input.left input,
.input.left button,
.input.left select {
  margin-left: 170px;
}

.input.right input,
.input.right button,
.input.right select {
  float: left;
}

.input.right input[type=checkbox] {
  width: 150px;
}

.input.right label {
  margin-left: 170px;
}


.input input[type=text],
.input input[type=password],
.input input[type=checkbox],
.input input[type=email],
.input input[type=number],
.input select {
  color: black;
  border: solid black 1px;
  font-size: 1.2em;
  height: 26px;
  padding: 2px 5px 2px 2px;
}

input[type=submit], input[type=button], button, .btn2 {
  font-size: 1.2em;
  color: white;
  background-color: #00bff3;
  border: 1px solid black;
  padding: 5px;
}

input[type=submit]:active, input[type=button]:active, button:active, .btn2:active {
  background-color: #0095be;
}

.btn2-nocolor {
    background-color: #A2A2A2;
}

.input select {
  width: 225px;
  height: 30px;
  line-height: 30px;
}

.oneline .input {
  display: inline;
  float: none;
  width: auto;
  height: auto;
  margin: 0px;
}

.oneline .input label {
  display: inline;
  width: auto;
}

.oneline .input select,
.oneline .input input,
.oneline .input button {
  display: inline;
  width: auto;
  margin: 0px;
  margin-left: 10px;
  font-size: 1em;
  line-height: 100%;
}



strong {
  color: #00bff3;
}

.hero > .big-picture {
  width: 1000px;
  height: 425px;
}

.hero > .big-picture-1 {
  background-image: url('../img/lol-art-1.png');
}

.hero > .big-picture-2 {
  background-image: url('../img/lol-art-2.png');
}

.hero > .big-picture-3 {
  background-image: url('../img/lol-art-3.png');
}

.btn {
  display: block;
  background-color: black;
  text-align: center;
  font-size: 40px;
  font-family: OpenSansCond;
}

.btn-primary {
  color: white;
  border-bottom: solid #00bff3 1px;
}

.btn-danger {
  color: white;
  border-bottom: solid #bf0000 1px;
}

.btn-primary:hover {
  background: #0E0E0E;
  color: #00bff3;
}

.btn-danger:hover {
  background: #0E0E0E;
  color: #bf0000;
}

.btn-plain, .btn-plain:hover {
  background-color: #00bff3;
  color: white;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clear {
  clear: both;
}

.grid-1 {
  width: 10%;
}

.grid-2 {
  width: 20%;
}

.grid-2-5 {
  width: 25%;
}

.grid-3 {
  width: 30%;
}

.grid-3-3 {
  width: 33%;
}

.grid-4 {
  width: 40%;
}

.grid-5 {
  width: 50%;
}

.grid-6 {
  width: 60%;
}

.grid-7 {
  width: 70%;
}

.grid-8 {
  width: 80%;
}

.grid-9 {
  width: 90%;
}

.grid-10 {
  width: 100%;
}

.frame {
  border: #2d2d2d solid 1px;
  margin: 10px 0px 10px 0px;
  padding: 0px -1px 0px -1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.frame > .full {
  border-bottom: 1px dashed #2d2d2d;
}

.frame > header > .step {
  background-color: #a2a2a2;
  font-size: 40px;
  height: 60px;
  min-width: 60px;
  text-align:center;
  color: #fff;
  line-height: 1.5;
}

.frame > header > .title {
  font-size:30px;
  font-family: OpenSansCond;
  color:#a2a2a2;
  margin: 0 5px 0 15px;
  line-height: 2;
}

.frame-active > header > .title,
.frame-success > header > .title,
.frame-warning > header > .title,
.frame-danger > header > .title {
  color: #fff;
}

.frame-active > header > .step {
  background-color: #00bff3;
}

.frame-success > header > .step {
  background-color: #00bf1e;
}

.frame-warning > header > .step {
  background-color: #e38700;
}

.frame-danger > header > .step {
  background-color: #bf0000;
}

.frame > header > .ctrl {
  margin: 0 5px 0 5px;
}

.frame > form > .field {
  margin-top: 15px;
}

.frame > form > .field > input {
  display:block;
  width:891px;
  margin: 5px 50px 5px 50px;
}

.frame > form > .half {
  clear: none;
}

.frame > form > .half > input {
  width: 390px;
}

.frame > .text {
  margin: 5px 20px 5px 20px;
}

.frame > .huge-button {
    text-align: center;
    background-color: #009ec9;
}

.frame > .huge-button:hover {
    background-color: #58d2f3;
}

.frame > .huge-button > .title {
    width: 90%;
}

.frame > header > small {
    text-align: right;
    padding: 10px 5px 0px 0px;
}

li a:hover {
  color: #fff;
}

.highlightBox {
  background: url('../img/fade-bot.png') repeat-x top, url('../img/tweed.png') repeat;
  padding-top: 40px;
  padding-bottom: 100px;
}

.list-choice {
    color: #fff;
}

.list-choice:hover {
    color: #00BFF3;
}

.order {
 width: 500px;
 margin: auto;
 border-collapse: collapse;
}

.order td {
    border-bottom: 1px solid #2D2D2D;
    margin:0; padding: 5px;

}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-justify {
    text-align: justify; 
}

.text-center {
    text-align: center;
}

.markdown h2 {
    font-family: OpenSansCond;
    text-transform: uppercase;
    color: #00BFF3;
    letter-spacing: 0px;
    margin-bottom: 15px;
    margin-top: 30px;
    font-size: 2.1em;
    line-height: 27px;
}

.markdown h4 {
    font-family: OpenSansCond;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0px;
    margin-bottom: 5px;
    margin-top: 15px;
    font-size: 1.5em;
}

.markdown p {
    font-size: 1em;
    margin: 15px 0px 15px 0px;
}

.markdown ul, .markdown ol {
    margin-left: 60px;
}


/** FOR STREAMS ONLY, TEMPORARY */

.streamsHeader {
  top: 0px; 
  width: 100%; 
  height: 40px;
  font-family: Oswald, sans-serif;
  font-size: 20px;
  text-align: center;
  margin: auto;
}

.streamsHeader .stream {
  height: 100%;
  display: inline-block;
  position: relative;
}

.streamsHeader .streamLink {
  cursor: pointer;
}

.streamsHeader .streamLink:hover {
  background-color: #2d2d2d;
}

.streamsHeader .stream p {
  vertical-align:middle;
}

.streamsHeader .stream .rec {
  width: 15px;
  height: 15px;
  border-radius: 20px;
  background-color: red;
  position: absolute;
  top: 15px;
}

#mask {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.8);
  z-index: 100;
  display: none;
}

.maskContent {
  position: fixed;
  top: 100px;
  width: 100%;
  text-align: center;
  display: none;
}