.info {
  margin-top: 30px;
  margin-bottom: 30px;
}

.info > aside {
  float: left;
}

.info > aside .square {
  background-color: #00bff3;
  width: 80px;
  height: 80px;
}

.info > aside .square a {
  display: block;
  width: 100%;
  height: 100%;
}

.info > aside .square a span {
  display: block;
  width: 0;
  height: 0;
  position: relative;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid white;
  top: 30px;
  left: 20px;
}

.info > aside li {
  text-align: center;
  list-style-type: none;
  text-transform: uppercase;
}

.info > aside li:nth-child(odd) {
  font-family: Oswald;
  font-size: 0.8em;
  color: white;
  padding-top: 10px;
}

.info > aside li:nth-child(even) {
  font-family: OpenSansCond;
  font-size: 0.9em;
  color: #00bff3;
}

.info > header {
  height: 80px;
  margin-left: 100px;
  margin-bottom: 10px;
}

.info > header span {
  font-family: Oswald;
  text-transform: uppercase;
  color: white;
  font-size: 0.8em;
}

.info > section {
  margin-left: 80px;
  padding-left: 20px;
}

.info > section p {
  text-align: justify;
  line-height: 30px;
  padding-left: 20px;
}

.info > section h3 {
  padding-left: 40px;
}

article > p {
  text-align: justify;
}

article > p + p {
  margin-top: 20px;
}

article > p + h3,
section > p + h3 {
  margin-top: 35px;
}

article > ul li {
  list-style: none;
}

article > ul li:before {
  content:'\2022';
  display: block;
  position: relative;
  max-width: 0px;
  max-height: 0px;
  color: white;
  font-size: 23px;
  bottom: 4px;
  left: -20px;
}

/** Squares **/

#horaire > aside .square, #finale > aside .square {
  background: white;
}

#horaire > aside .square a span, #finale > aside .square a span  {
  display: block;
  position: relative;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;  /* left arrow slant */
  border-bottom: 20px solid transparent; /* right arrow slant */
  border-left: 20px solid black; /* bottom, add background color here */
  top: 20px;
  left: 30px;
}

#tarif > aside .square a span {
  display: block;
  position: relative;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;  /* left arrow slant */
  border-right: 20px solid transparent; /* right arrow slant */
  border-top: 20px solid white; /* bottom, add background color here */
  border-bottom: none;
  top: 30px;
  left: 20px;
}

#anim > aside .square {
  background: white;
}

#anim > aside .square a span {
  display: block;
  position: relative;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;  /* left arrow slant */
  border-bottom: 20px solid transparent; /* right arrow slant */
  border-right: 20px solid black; /* bottom, add background color here */
  top: 20px;
  left: 10px;
}

#tournoi section ul li, #finale section ul li {
  list-style-type: none;
  margin-left: 60px;
  color: #00bff3;
}

#tournoi section ul li span, #finale section ul li span, .emphase {
  font-family: Oswald;
  font-size: 0.9em;
  color: white;
  text-transform: uppercase;
  padding-right: 20px;
}

.hero > h1 {
  font-family: OpenSansCond;
  font-size: 50px;
  color: #fff;
}

.block:first-child { margin-left:none; }
.block {
  width: 200px;
  margin: 0;
  margin-left: 1px;
}

.block-huge {
  width: 396px;
}

.shift {
  padding-left: 60px;
}

.moto {
  text-align: left;
  margin-left: 130px;
  color: #fff;
  font-size: 35px;
  font-family: Oswald;
}

table {
  height: auto;
  width: auto;
  background-color: rgba(22, 22, 22, 0.8);
  border: 1px solid #393939;
  border-collapse: collapse;
  margin: 10px;
}

td th{
  border: 1px solid #393939;
  padding: 10px;
  text-align: center;
}

th {
  font-weight: bold;
}