article {
  margin-top: 30px;
}

article > aside {
  float: left;
}

article > aside .square {
  background-color: #00bff3;
  width: 80px;
  height: 80px;
}

article.subsection > aside .square {
  background-color: #00bff3;
  width: 27px;
  height: 27px;
}

article > aside .square a {
  display: block;
  width: 100%;
  height: 100%;
}

article > aside .square a span {
  display: block;
  width: 0;
  height: 0;
  position: relative;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid white;
  top: 30px;
  left: 20px;
}

article.subsection > aside .square a span {
  border-bottom: 7px solid transparent;
  border-top: 7px solid transparent;
  border-left: 7px solid black;
  top: 7px;
  left: 10px;
}

article > aside li {
  text-align: center;
  list-style-type: none;
  text-transform: uppercase;
}

article > aside li:nth-child(odd) {
  font-family: Oswald;
  font-size: 0.8em;
  color: white;
  padding-top: 10px;
}

article > aside li:nth-child(even) {
  font-family: OpenSansCond;
  font-size: 0.9em;
  color: #00bff3;
}

article > header {
  height: 80px;
  margin-left: 100px;
  margin-bottom: 10px;
}

article.subsection > header {
  height: auto;
  margin-left: 42px;
}

article.subsection > header h2 {
  font-family: OpenSansCond;
  text-transform: uppercase;
  color: #00bff3;
  letter-spacing: 0px;
  margin-bottom: 5px;
  font-size: 2.1em;
  line-height: 27px;
}

article > header span {
  font-family: Oswald;
  text-transform: uppercase;
  color: white;
  font-size: 0.8em;
}

article > section {
  margin-left: 80px;
  padding-left: 20px;
}

article.subsection > section {
  margin-left: 0px;
  padding-left: 0px;
  margin-top: 10px;
  clear: both;
}

article > section p {
  text-align: justify;
  line-height: 30px;
  text-indent: 40px;
}

article.subsection > section p {
  /* text-indent: 42px; */
  text-indent: 0px;
  line-height: 170%;
}

article > section p em {
  color: #00bff3;
}

article > section p a {
  color: white;
}

article > section p a:hover {
  color: #00bff3;
}

/* List */

article.subsection li {
  margin-left: 30px;
}

article.subsection ul {
  padding-bottom: 2px;
  padding-top: 2px;
}


/** Carousel **/

aside.carousel {
  width: 1000px;
  height: 400px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
}

aside.carousel .picture {
  height: 300px;
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid black;
}

/*
aside.carousel .grid {
  height: 300px;
  width: 100%;
  background-image:
    linear-gradient(0deg,  transparent 0%, transparent 49%, black 50%, transparent 51%, transparent 100%),
    linear-gradient(90deg, transparent 0%, transparent 49%, black 50%, transparent 51%, transparent 100%);
  background-size: 100px 100px;
  position: absolute;
  background-position: 50px 50px;
  top: 0px;
  left: 0px;
}*/

aside.carousel table {
  width: 1000px;
  height: 100px;
  border-spacing: 0;
  margin: auto;
  border-collapse: collapse;
}

aside.carousel table .title {
  width: 868px;
  vertical-align: middle;
  background: #0e0e0e;
}

aside.carousel table .title .main {
  color: #00bff3;
  font-family: OpenSansCond;
  text-transform: uppercase;
  font-size: 2.4em;
  letter-spacing: 3px;
  padding-left: 15px;
}

aside.carousel table .title .subtitle {
  color: #b1b1b1;
  font-family: Oswald;
  text-transform: uppercase;
  font-size: 1.1em;
  padding-left: 15px;
}

aside.carousel table .items {
  width: 32px;
  background: #0e0e0e;
  vertical-align: middle;
}

aside.carousel table .items a {
  width: 12px;
  height: 12px;
  display: block;
  background: #303030;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 6px;
  margin-top: 6px;
}

aside.carousel table .items a:hover,
aside.carousel table .items a.active {
  background: #00bff3;
}

aside.carousel table .open {
  width: 100px;
  height: 100px;
  background: #00bff3;
  vertical-align: middle;
}

aside.carousel table .open a {
  width: 100px;
  height: 100px;
  display: table-cell;
  vertical-align: middle;
}

aside.carousel table .open a span {
  display: block;
  width: 0;
  height: 0;
  border-bottom: 30px solid transparent;  /* left arrow slant */
  border-top: 30px solid transparent; /* right arrow slant */
  border-left: 30px solid black; /* bottom, add background color here */
  font-size: 0;
  line-height: 0;
  margin: auto;
}

aside.carousel table .open:hover {
  background: #69dcfc;
}


aside.carousel table .open a.disabled {
  cursor: default;
  background: #234954;
}

/** News **/

section.news {
  width: 670px;
  float: left;
  margin-right: 30px;
}

section.news > h2,
aside.twitter > h2 {
  color: white;
  font-family: OpenSansCond;
  font-size: 3em;
  letter-spacing: 3px;
  margin-bottom: 10px;
}

aside.twitter {
  width: 300px;
  float: left;
}

aside.twitter > div {
  width: 293px;
  border: 1px solid #1a1a1a;
  background-color: #0e0e0e;
  padding-left: 4px;
  border-radius: 10px;
  color: #a2a2a2;
}

section.news nav {
  margin-top: 50px;
}

section.news nav a,
section.news nav span {
  font-family: OpenSansCond, sans-serif;
}

section.news nav a {
  padding: 1px 10px;
  width: 80px;
  text-align: center;
  background-color: #161616;
  color: #00bff3;
  text-transform: uppercase;
  font-weight: bold;
}

section.news nav a:hover {
  background-color: #272727;
}

section.news nav .prev span {
  margin-left: 10px;
}

section.news nav .next span {
  margin-right: 10px;
}

section.news nav .prev,
section.news nav .prev a {
  display: block;
  float: left;
}

section.news nav .next,
section.news nav .next a {
  display: block;
  float: right;
}

.partner-list {
    text-align: center;
}

.partner {
    margin: 0px 10px 0px 10px;
    display: inline;
}

.partner > a {
  margin: auto;
}

.partner > a > img {
  height: 70px;
  display: inline;
  margin: auto;
}

.partner-small > a > img {
  height: 60px;
}

.partner-big > a > img {
  height: 150px;
}

.partner-xsmall > a > img {
  height: 35px;
}
