section > h3 {
  color: white;
  font-family: OpenSansCond;
  font-size: 1.8em;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
}

section > dl {
  margin-left: 10px;
}

section > dl > dt {
  color: white;
  font-family: Oswald;
  margin-top: 5px;
}

section > dl > dd {
  padding-left: 15px;
}

fieldset.form-frame {
  margin-left: auto;
  margin-right: auto;
  padding : 30px;
  padding-top: 15px;
  text-align: center;
}

fieldset.form-frame > form {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-left: 200px;
  margin-right: 200px;
  border: 2px groove rgb(0, 191, 243);
  border-radius: 20px;
}

fieldset.form-frame > form > * {
  margin-top: 10px;
  margin-bottom: 10px;
}

fieldset.form-frame > form > input {
  margin-left: 5px;
}

fieldset.form-frame > form > input[type="text"] {
  color: black;
  font-size: 0.9em;
  max-width: 100px;
  border-radius: 2px;
}

fieldset.form-frame > form > input[type="text"]:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(82, 168, 236, 0.6);
  transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
table {
  margin-left: auto;
  margin-right: auto;
  border-spacing: 15px;
  border-collapse: collapse;
  border: 1px groove rgb(0, 191, 243);
  text-align: center;
}

th {
  font-family: OpenSansCond;
  font-size: 1.4em;
}

tr:hover {
  background: rgb(14, 14, 14);
  color: rgb(0, 191, 243);
}

#hideShowCommand:hover {
  text-decoration: underline;
}

input[type=submit],
input[type=button],
button {
  font-size: 0.8em;
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

th {
  font-size: 1.3em;
  font-weight: 600;
}

td {
  font-size: 0.9em;
}

td,
th {
  border: 1px solid grey;
  padding: 5px !important;
}

form {
  display: inline;
}

.addInput {
  color: black;
  height: 25px;
  font-size: 18px;
  margin-left: 10px;
}

.addInput[type=text] {
  height: 21px;
  padding: 2px;
}

.pizzaOnglets {
  margin: auto;
  text-align: center;
  margin-top: 50px;
}

.pizzaOnglet:hover {
  background-color: grey;
}

.pizzaOnglet {
  padding: 7px;
  display: inline-block;
  margin-left: 20px;
  border: 2px solid grey;
  color: #fff;
  font-size: 1.6em;
  font-weight: 500;
}

.addFormBlock {
  display: block;
  margin-top: 10px;
}

.addFormBlock div {
  margin-top: 5px;
}

.addOrderDates {
  display: inline-flex;
  margin-top: 20px;
  margin-bottom: 15px;
  height: 70px;
  width: 100%;
}

.addOrderDates div {
  margin-right: 20px;
  width: 150px;
}

.addOrderDates label {
  margin-bottom: 10px;
}

section label {
  font-size: 1.1em;
  font-weight: 500;
}

.addOrder {
  margin-top: 7px;
}

.confirmAddOrder {
  margin-top: 15px;
}
