.streams {
  width: 1000px;
  margin-top: 30px;
  margin-bottom: 50px;
  border-bottom: 1px solid #0E0E0E;
}

.streams li {
  list-style-type: none;
  display: inline-block;
  width: 215px;
  height: 40px;
  margin-right: 40px;
  text-align: center;
  color: white;
}

.streams a {
  display: block;
  font-family: OpenSansCond;
  line-height: 40px;
  font-size: 1.2em;
}

.streams li:hover {
  background: #0E0E0E;
  color: #00bff3;
}

.streams li:last-child {
  margin-right: 0;
}

.video {
  margin-bottom: 50px;
  min-height: 562px;
}

h2 {
  color: white;
  font-family: OpenSansCond, sans-serif;
  font-size: 2em;
  letter-spacing: 3px;
  margin-bottom: 10px;
}
