.space {
  height: 220px;
  width: 100%;
}

section > ul li {
  margin-top: 80px;
  width: 215px;
  height: 215px;
  margin-right: 40px;
  float: left;
  list-style-type: none;
  display: block;
}

section > ul li a {
  width: 100%;
  height: 100%;
  display: inline-block;
}

#dota2 {
  background: url("../img/dota.png") center no-repeat;
}

.back {
  width: 1000px;
  height: 700px;
  border-top: 1px solid #2d2d2d;
  background-color: #0e0e0e;
  background-position: center top;
  background-repeat: no-repeat;
  margin-top: 60px;
  margin-bottom: 30px;
}

.groups {
  width: 730px;
  margin-left: 25px;
}

.matches {
  width: 190px;
  margin-left: 30px;
}

.matches table {
  width: 100%;
  background: #161616;
  border: 1px solid #2d2d2d;
  text-align: justify;
}

.matches tr {
  padding: 2px;
  background: black;
  height: 50px;
}

.matches td {
  vertical-align: middle;
}

.groups table {
  height: auto;
  width: 200px;
  background-color: rgba(22, 22, 22, 0.8);
  border: 1px solid #393939;
  float: left;
  margin-right: 25px;
  margin-left: 25px;
}

.groups caption {
  font-family: Oswald;
  font-size: 0.9em;
  text-transform: uppercase;
  text-align: center;
  color: white;
  background: #232323;
  border: 1px solid #393939;
  border-bottom: none;
}

.groups td {
  line-height: 30px;
}

.groups tr:hover {
  cursor: default;
  background-color: rgba(0, 191, 243, 0.25);
}

.groups td:first-child:hover {
  color: white;
}

.groups td:first-child {
  padding-left: 3px;
}

.groups td:nth-child(2), .groups td:nth-child(3) {
  width: 30px;
  text-align: center;
  font-size: 1.1em;
}

.groups td:nth-child(2) {
  border-right: 1px dashed #00bff3;
}

.groups, .matches {
  float: left;
  font-size: 0.9em;
}

.matches header, .groups header {
  height: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 1.2em;
}

h3 {
  font-family: OpenSansCond;
  text-transform: uppercase;
  color: white;
}

.groups h3 {
  color: #00bff3;
  margin-left: 25px;
}

.matches em {
  color: #00bff3;
}