.space {
  height: 220px;
  width: 100%;
}

.tournois > ul li {
  margin-top: 80px;
  width: 215px;
  height: 218px;
  margin-bottom: 3px;
  margin-right: 40px;
  float: left;
  list-style-type: none;
  display: block;
}

.tournois > ul li a {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.tournois > ul li:last-child {
  margin-right: 0;
}

.tournois > ul li:hover {
  background: #0e0e0e;
  border-bottom: 3px solid #00bff3;
  margin-bottom: 0;
}

#lol {
  background: url('../img/lol.png') center no-repeat;
}

#sc2 {
  background: url('../img/sc2.png') center no-repeat;
}

#cs {
  background: url('../img/cs.png') center no-repeat;
}

#tf2 {
  background: url('../img/tf2.png') center no-repeat;
}

.back {
  width: 1000px;
  height: 700px;
  border-top: 1px solid #2d2d2d;
  background-color: #0e0e0e;
  background-position: center top;
  background-repeat: no-repeat;
  margin-top: 60px;
  margin-bottom: 30px;
}

.groups {
  width: 750px;
  margin-left: 0px;
}

.matches {
  width: 230px;
  margin-left: 20px;
}

.matches td {
  vertical-align: middle;
  padding: 2px;
  padding-bottom: 6px;
}

.matches td:first-child {
  padding-left: 5px;
}
.matches td:last-child {
  padding-right: 5px;
}

.groups table,
.matches table {
  height: auto;
  width: 230px;
  background-color: rgba(22, 22, 22, 0.8);
  border: 1px solid #393939;
  border-collapse: collapse;
  float: left;
  margin-right: 20px;
  margin-bottom: 15px;
}

.groups caption,
.matches caption {
  font-family: Oswald;
  font-size: 0.9em;
  text-transform: uppercase;
  text-align: center;
  color: white;
  background: #232323;
  border: 1px solid #393939;
  border-bottom: none;
}

.groups td {
  line-height: 30px;
}

.groups tr:hover td:first-child {
  color: white;
}

.groups td:hover {
  color: white;
}

.groups tr:hover td:nth-child(2) {
  color: #00a000;
}

.groups tr:hover td:nth-child(3) {
  color: #a00000;
}

.groups tr:hover td:nth-child(4) {
  color: #cccccc;
}

.groups td:first-child {
  padding-left: 5px;
}

.groups td:nth-child(2),
.groups td:nth-child(3),
.groups td:nth-child(4) {
  width: 27px;
  text-align: center;
  font-size: 1.1em;
}

.groups td:nth-child(2),
.groups td:nth-child(3) {
  border-right: 1px dashed #00bff3;
}


.groups table { background-color: rgba(22, 22, 22, 0.3); color: #555555; border-color: #2a2a2a; }
.groups table caption { background-color: #222222; border-color: #2a2a2a; color: #888888; }
.groups table td:nth-child(2), .groups table td:nth-child(3) {
  border-right: 1px dashed #008cb2;
}

.groups table.hovered { background-color: rgba(22, 22, 22, 0.8); color: #a2a2a2; }
.groups table.hovered caption { background-color: #232323; border-color: #393939; color: white; }
.groups table.hovered td:nth-child(2), .groups table.hovered td:nth-child(3) {
  border-right: 1px dashed #00bff3;
}

.groups, .matches {
  float: left;
  font-size: 0.9em;
}

.groups tr:hover, .matches tr:hover {
  background-color: rgba(0, 191, 243, 0.25);
}

.matches header, .groups header {
  height: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 1.2em;
}

h3 {
  font-family: OpenSansCond;
  text-transform: uppercase;
  color: white;
}

.groups h3 {
  color: #00bff3;
}

.matches em {
  color: #00bff3;
  position: relative;
  top: 5px;
}

.matches .p1, .matches .p2 { width: 99px; }
.matches .p1 {
  float: left;
  text-align: left;
  padding-right: 3px;
}
.matches .p2 {
  float: right;
  text-align: right;
  padding-left: 3px;
}

.matches .dot {
  width: 8px;
  height: 7px;
  border-radius: 2px;
  background: #008cb2;
  margin-top: 2px;
  padding: 0px;
}

.matches .dot.p1 {
  margin-right: 5px;
}

.matches .dot.p2 {
  margin-left: 5px;
}

.matches table {
  margin-right: 0px;
  width: 100%;
}

.matches tr:hover {
  color: white;
}
