{% extends 'tournament_user/layout.html.twig' %}

{% block body %}
{{ parent() }}

<article>
  <aside>
    <div class="square">
      <a href="#body"><span></span></a>
    </div>
  </aside>

  <header>
    <h2>Inscription à &laquo; {{ registrable.name }} &raquo;</h2>
    {{ registrable.description }}
  </header>

  <section>
    {% include 'Part/ChooseGameNameValidated.html.twig'  with {'counter': 1} %}
    {% include 'Part/ChoiceTeamValidated.html.twig'  with {'counter': 2} %}
    {% include 'Part/JoinTeamActive.html.twig'  with {'counter': 3} %}
  </section>
</article>
{% endblock %}
