<div class="frame">
  <header>
    <div class="step pull-left">
        {{ counter }}
    </div>
    <div class="title pull-left">Joueur sélectionnée : {{ manager.participant }}</div>
    <br style="clear:both;">
  </header>
</div>