<div class="frame frame-active">
  <header class="full">
    <div class="step pull-left">
      {{ counter }}
    </div>
    <div class="title pull-left">
      Paiement en attente
    </div>
    <br class="clear">
  </header>
  <div class="text">
    <br/>
    
   <h2><strong>Paiement sur place</strong></h2>
    <br>
    <h3>Le tarif joueur sur place s'élève à {{ registrable.onSitePrice - (discount.amount | default(0)) }} {{ registrable.currency }}.</h3>
    Vous pourrez régler sur place en liquide ou par carte bancaire {#(avec une majoration de 1€ pour la CB)#}.
    <br>
    <br/></br>

    {% include 'Part/ImportantDetails.html.twig'  with {'registrable': registrable} %}
      
    {#
    <br/><br/>
    <center>
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfVqoy-M_d6FColSldTnUGuU1sT_NlAUDgyiZ3KO9ZeZuPdDA/viewform?embedded=true" width="700" height="520" frameborder="0" marginheight="0" marginwidth="0">
        Chargement en cours...
      </iframe>
    </center>
    <br/><br/>
    #}
  </div>
  <a class="btn btn-primary ctrl grid-10 pull-left" href="{{ path('app_user_index') }}">
    Valider
  </a>
  <br class="clear">
</div>
