{% extends 'InsaLanPizzaBundle::Admin/layout.html.twig' %}

{% block title %}
  {{ parent() }} - Gestion créneaux
{% endblock %}

{% block body %}
  {{ parent() }}

<article >

  <header>
    <h2>Gestion des Créneaux</h2>
  </header>

</article>




{% endblock %}

{% block javascripts %}
{{ parent() }}

{% endblock %}