{% extends 'InsaLanStreamBundle::layout.html.twig' %}

{% block body %}
{{ parent() }}

<nav class="streams">
  <ul>
    <li><a href="#stream-cs">CS:GO</a></li>
    <li><a href="#stream-tf2">TF2</a></li>
    <li><a href="#stream-lol">LoL</a></li>
    <li><a href="#stream-sc2">SC2</a></li>
  </ul>
</nav>

<div class="video" id="stream-cs">
  <iframe width="1000" height="562" src="//www.youtube.com/embed/1xOiddd7TiA" frameborder="0" allowfullscreen></iframe>
</div>

<div class="video" id="stream-tf2">
  <iframe width="1000" height="562" src="//www.youtube.com/embed/1xOiddd7TiA" frameborder="0" allowfullscreen></iframe>
</div>

<div class="video" id="stream-lol">
  <iframe width="1000" height="562" src="//www.youtube.com/embed/1xOiddd7TiA" frameborder="0" allowfullscreen></iframe>
</div>

<div class="video" id="stream-sc2">
  <iframe width="1000" height="562" src="//www.youtube.com/embed/1xOiddd7TiA" frameborder="0" allowfullscreen></iframe>
</div>

{% endblock %}
