{% extends 'InsaLanStreamBundle::layout.html.twig' %}

{% block body %}
{{ parent() }}

<nav class="streams">
  <ul>
    <li><a href="#stream-lol">LoL</a></li>
    <li><a href="#stream-cs">CS:GO</a></li>
    <li><a href="#stream-sc2">SC2</a></li>
    <li><a href="#stream-tf2">TF2</a></li>
  </ul>
</nav>

<h2 id="stream-lol">League of Legends</h2>
<div class="video">
  <object type="application/x-shockwave-flash" height="562" width="1000" id="live_embed_player_flash" data="http://www.twitch.tv/widgets/live_embed_player.swf?channel=insalan" bgcolor="#000000"><param name="allowFullScreen" value="true" /><param name="allowScriptAccess" value="always" /><param name="allowNetworking" value="all" /><param name="movie" value="http://www.twitch.tv/widgets/live_embed_player.swf" /><param name="flashvars" value="hostname=www.twitch.tv&amp;channel=insalan&amp;auto_play=false&amp;start_volume=25" /></object>
</div>

<h2 id="stream-cs">Counter-Strike: Global Offensive</h2>
<div class="video">
  <iframe frameborder="0" width="1000" height="562" src="http://www.dailymotion.com/embed/video/xxnk94" allowfullscreen></iframe>
</div>

<h2 id="stream-sc2">StarCraft II</h2>
<div class="video">
  <iframe width="1000" height="562" src="//www.youtube.com/embed/1xOiddd7TiA" frameborder="0" allowfullscreen></iframe>
</div>

<h2 id="stream-tf2">Team Fortress 2</h2>
<div class="video">
  <iframe width="1000" height="562" src="//www.youtube.com/embed/1xOiddd7TiA" frameborder="0" allowfullscreen></iframe>
</div>


{% endblock %}
