{% extends 'InsaLanPizzaBundle::layout.html.twig' %}

{% block title %}
  {{ parent() }}
{% endblock %}

{% block body %}
  {{ parent() }}
  <ul>
    {% for p in pizzas %}
      <li>{{ p.name }} ({{ p.price }}€)</li>
    {% endfor %}
  </ul>
{% endblock %}


