{% extends 'InsaLanBundle::layout.html.twig' %}

{% block title %}
  {{ parent() }} -
  Pizzas
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets 'bundles/insalan/css/pizza.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}
{% endblock %}

{% block rawbody %}
{{ parent() }}

  <section class="container">
    {% block body %}{% endblock %}
  </section>

{% endblock %}
