<div class="frame">
  <header>
    <div class="step pull-left">
        {{ counter }}
    </div>
    <div class="title pull-left">Créer ou rejoindre une équipe</div>
    <br style="clear:both;">
  </header>
</div>
