<div class="frame">
  <header>
    <div class="step pull-left">
        {{ counter }}
    </div>
    <div class="title pull-left">
      Pseudonyme sélectionné : {{ player.gameName }}
    </div>
    <br class="clear">
  </header>
</div>
