<div class="frame">
  <header>
    <div class="step pull-left">
        {{ counter }}
    </div>
    <div class="title pull-left">Équipe sélectionnée : {{ player.getTeamForTournament(registrable) }}</div>
    <br style="clear:both;">
  </header>
</div>
