{% extends 'InsaLanLayout.html.twig' %}

{% block title %}
{{ parent() }}

- Informations
{% endblock %}

{#
{% block customcss %}
{{ parent() }}
    <link rel="stylesheet" href="/public/css/global.css" />
    <link rel="stylesheet" href="/public/css/info.css" />
{% endblock %}
#}

{% block rawbody %}
{{ parent() }}

<section class="container">
  {% block body %}{% endblock %}
</section>
{% endblock %}
