{% extends 'informationLayout.html.twig' %}

{% block body %}
{{ parent() }}

<article>
  <header>
    <h2>
      <span class="pull-left">Locations</span>
      <span class="pull-right"><a href="https://scoup-esport.fr/"><img src="{{ asset('img/partners-preview/scoup-esport.png') }}" alt="Scoup Esport"/></a></span>
      <br class="clear">
    </h2>
  </header>
  
  <br/><br/>
 
  {% if validated or is_granted('ROLE_ADMIN') %}
    <div class="grid-7 pull-left">
      <header><h2>Inscriptions</h2></header>
      <div class="weezevent" data-url="
https://my.weezevent.com/insalan-2022-1" width="570" height="840">Chargement en cours...</div>
    </div>
  {% else %}
    <div class="grid-7 pull-left">
      <p>
        Votre inscription doit être validée avant d'accéder à la location.
      </p>

      <table class="list">
        <tr>
          <td><strong>Matériel</strong></td>
          <td><strong>Prix</strong></td>
        </tr>
        <tr>
          <td>Location Souris</td>
          <td> 5,00 </td>
        </tr>
        <tr>
          <td>Location Casque</td>
          <td> 15,00 </td>
        </tr>
        <tr>
          <td>Location Clavier</td>
          <td> 10,00 </td>
        </tr>
        <tr>
          <td>Location Chaise Gaming</td>
          <td> 50,00 </td>
        </tr>
        <tr>
          <td>
            <p>Location PC Super Gaming</p>
            <small>Intel I7-9700k<br/>16Gb de Ram DDR4<br/>RTX 2060</small>
          </td>
          <td> 90,00 </td>
        </tr>
        <tr>
          <td>Location Ecran 24" 144Hz</td>
          <td> 35,00 </td>
        </tr>
      </table>
    </div>
  {% endif %}

  <div class="grid-3 pull-left">
    <div class="frame frame-active">
      <header class="full">
        <div class="title pull-left">Contact organisateur</div>
        <br class="clear">
      </header>
      <header class="full">
        <div class="title text-center">SCOUP ESPORT</div>
        <br class="clear">
      </header>
      <header class="full">
        <br/>
        <div class="text-center">Quang Long LE - PRESIDENT</div>
        <br class="clear">
      </header>
      <header class="full">
        <br/>
        <div class="text-center">Adresse : 5 RUE PIERRE ET MARIE CURIE 94460 CHENNEVIERES SUR MARNE FRANCE</div>
      <br class="clear">
      </header>
      <header class="full">
        <br/>
        <div class="text-center">Téléphone : 0635558166</div>
        <br class="clear">
      </header>
    </div>
  </div>

  <br class="clear"><br/>

  <div>
    <span class="pull-left">
      <a href="https://weezevent.com/">Propulsé par Weezevent</a>
    </span>
    <span class="pull-right">
      <a href="https://weezevent.com/en-gb/cgv-weezticket/" target="_blank">Voir les CGV de Weezevent</a>
    </span>
  </div>

  <br/><br/>
  <hr/><br/>

  <br/><br/>
</article>
{% endblock %}
