{% extends 'InsaLanInformationBundle::layout.html.twig' %}

{% block body %}
{{ parent() }}

<article id="anim" class="info">
  <aside>
    <div class="square">
      <a href="#body"><span></span></a>
    </div>
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </aside>

  <header>
    <h2>Animations</h2>
  </header>

  <section>
    <p>
      Une zone animations gratuite, ouverte tout le week-end, vous permettra de découvrir ou de redécouvrir un grand nombre de jeux en tout genre : Bornes d'arcade, jeux-vidéo sur PC, jeux musicaux, consoles...
      <br/>
      L'ambiance se veut conviviale et bon enfant, n'hésitez pas à venir visiter l'InsaLan en famille ou entre amis.
    </p>
  </section>
</article>
{% endblock %}
