{% extends 'tournamentLayout.html.twig' %}

{% block customcss %}
{{ parent() }}
    <link rel="stylesheet" href="/public/css/tournament.css" />
{% endblock %}

{% block body %}
{{ parent() }}

{% if future_tournaments | length > 0 %}
<article>
  <header>
    {
    <h2>Tournois de la prochaine édition</h2>
  </header>
  {% include 'Part/TournamentList.html.twig' with {'tournaments': future_tournaments} %}
</article>
{% endif %}

{% if opened_tournaments | length > 0 %}

<a href="{{ 'User/index' }}" class="btn2 pull-right">Inscription aux tournois</a>

<article>
  <header>
    <h2>Tournois ouverts</h2>
  </header>
  {% include 'Part/TournamentList.html.twig' with {'tournaments': opened_tournaments} %}
</article>
{% endif %}

{% if registration_closed_tournaments | length > 0 %}
<article>
  <header>
    <h2>Tournois en cours</h2>
  </header>
  {% include 'Part/TournamentList.html.twig' with {'tournaments': registration_closed_tournaments} %}
</article>
{% endif %}

{% if old_tournaments | length > 0 %}
<article>
  <header>
    <h2>Tournois de l'édition précédente</h2>
  </header>
  {% include 'Part/TournamentList.html.twig' with {'tournaments': old_tournaments} %}
</article>
{% endif %}
{% endblock %}
