{% extends 'InsaLanLayout.html.twig' %}

{% block rawbody %}
{{ parent() }}

<section class="container">
  {% block body %}{% endblock %}

  {% block fos_user_content %}{% endblock %}
</section>
{% endblock %}
