{% extends'InsaLanBundle::layout.html.twig' %}

{% block title %}
  {{ parent() }} - Maintenance !
{% endblock %}

{% block body %}
    <h1 style="margin-top:50px; margin-bottom:30px;">Maintenance en cours...</h1>
    <h2>Erreur 503 - Service indisponible</h2>
    <p>Le site est indisponible pour le moment.<br>
    Ne vous inquiétez pas, vous pouvez toujours nous suivre via <a href="https://www.facebook.com/insalan/">Facebook</a> ou <a href="https://twitter.com/insalan">Twitter</a> !<br>
    Si vous rencontrez la moindre difficulté, vous pouvez <strong><a href="mailto:contact@insalan.fr">contacter l'administrateur</a></strong></p>

    <div style="height:200px"><!-- Insérer ici une photo de chaton triste --></div>

{% endblock %}

