{% extends 'InsaLanBundle::layout.html.twig' %}

{% block title %}
  {{ parent() }} -
  Oups !
{% endblock %}

{% block body %}
<h1 style="margin-top:50px; margin-bottom:30px;">Oups, (petit) problème...</h1>
<h2>Erreur 404</h2>
<p>Cette page n'est pas disponible actuellement :-(<br />
Si vous rencontrez la moindre difficulté, vous pouvez <strong><a href="mailto:contact@insalan.fr">contacter l'administrateur</a></strong></p>

<div style="height:200px"><!-- Insérer ici une photo de chaton triste --></div>

{% endblock %}
