{% extends 'InsaLanTournamentBundle::layout.html.twig' %}

{% block body %}
{{ parent() }}

<article>
  <aside>
    <div class="square">
      <a href="#body"><span></span></a>
    </div>
  </aside>

  <header>
    <h2>Inscription à &laquo; {{ tournament.name }} &raquo;</h2>
    {{ tournament.description }}
  </header>

  <section>

      {% if tournament.participantType == 'team' %}
          {% include 'InsaLanTournamentBundle:Manager:ChooseManagerNameValidated.html.twig'  with {'counter': 1}%}
          {% include 'InsaLanTournamentBundle:Manager:CreateJoinTeamValidated.html.twig'  with {'counter': 2}%}
          {% include 'InsaLanTournamentBundle:Part:BeforePaymentActive.html.twig'  with {'counter': 3}%}
      {% else %}
          {% include 'InsaLanTournamentBundle:Part:ChooseGameNameValidated.html.twig'  with {'counter': 1}%}
          {% include 'InsaLanTournamentBundle:Part:BeforePaymentActive.html.twig'  with {'counter': 2} %}
      {% endif %}

  </section>
</article>
{% endblock %}
