{% extends 'tournamentLayout.html.twig' %}

{% block body %}
{{ parent() }}

<article>
  <aside>
    <div class="square">
      <a href="#body"><span></span></a>
    </div>
  </aside>

  <header>
    <h2>Inscription à &laquo; {{ registrable.name }} &raquo;</h2>
    {{ registrable.description }}
  </header>

  <section>
    {% if registrable.kind == 'tournament' and registrable.participantType == 'team' %}
      {% include 'InsaLanTournamentBundle:Part:ChooseGameNameValidated.html.twig' with {'counter': 1} %}
      {% include 'InsaLanTournamentBundle:Part:ChoiceTeamValidated.html.twig' with {'counter': 2} %}
      {% include 'InsaLanTournamentBundle:Part:CreateJoinTeamValidated.html.twig' with {'counter': 3} %}
      {% include 'InsaLanTournamentBundle:Part:BeforePaymentValidated.html.twig' with {'counter': 4} %}
      {% include 'InsaLanTournamentBundle:Part:WaitPaymentActive.html.twig' with {'counter': 5} %}
    {% else %}
      {% include 'InsaLanTournamentBundle:Part:ChooseGameNameValidated.html.twig' with {'counter': 1} %}
      {% include 'InsaLanTournamentBundle:Part:BeforePaymentValidated.html.twig' with {'counter': 2} %}
      {% include 'InsaLanTournamentBundle:Part:WaitPaymentActive.html.twig' with {'counter': 3} %}
    {% endif %}
  </section>
</article>
{% endblock %}
