{% extends 'tournamentLayout.html.twig' %}

{% block title %}
{{ parent() }}
 - Ajouter un replay
{% endblock %}

{% block body %}
{{ parent() }}

<article>
  <header>
    <h2>Ajout d'un replay</h2>
  </header>

  {{ form(form) }}
{% endblock %}

